.btn.disabled {
  pointer-events: none;
}

.dynamic-list-controls {
  margin-top: 50px;
}

.dynamic-list-placeholder {
  padding: 20px;
  text-align: center;
  background: rgba(51,51,51,0.1);
  border: 4px solid rgba(51,51,51,0.15);
}

.dynamic-list-add-item {
  position: fixed;
  right: 15px;
  bottom: 15px;
  bottom: calc(15px + env(safe-area-inset-bottom));
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #337ab7;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

[data-has-notch].platform-web .dynamic-list-add-item {
  bottom: calc(15px + 34px); /* For Fliplet Studio */
}

.fl-menu-circle-right .dynamic-list-add-item {
  right: 75px;
}

.fl-with-bottom-menu .dynamic-list-add-item {
  bottom: 80px;
  bottom: calc(80px + env(safe-area-inset-bottom));
}

[data-has-notch].platform-web .fl-with-bottom-menu .dynamic-list-add-item {
  bottom: calc(80px + 34px); /* For Fliplet Studio */
}

.fl-with-bottom-menu.fl-menu-circle-left .dynamic-list-add-item,
.fl-with-bottom-menu.fl-menu-circle-right .dynamic-list-add-item {
  bottom: 15px;
  bottom: calc(15px + env(safe-area-inset-bottom));
}

[data-has-notch].platform-web .fl-with-bottom-menu.fl-menu-circle-left .dynamic-list-add-item,
[data-has-notch].platform-web .fl-with-bottom-menu.fl-menu-circle-right .dynamic-list-add-item {
  bottom: calc(15px + 34px); /* For Fliplet Studio */
}

.new-agenda-list-container.has-agenda-toggle ~ .dynamic-list-add-item,
.fl-with-bottom-menu.fl-menu-circle-left .new-agenda-list-container.has-agenda-toggle ~ .dynamic-list-add-item {
  bottom: 100px;
  bottom: calc(100px + env(safe-area-inset-bottom));
}

[data-has-notch].platform-web .new-agenda-list-container.has-agenda-toggle ~ .dynamic-list-add-item,
[data-has-notch].platform-web .fl-with-bottom-menu.fl-menu-circle-left .new-agenda-list-container.has-agenda-toggle ~ .dynamic-list-add-item {
  bottom: calc(100px + 34px); /* For Fliplet Studio */
}

.fl-with-bottom-menu .new-agenda-list-container.has-agenda-toggle ~ .dynamic-list-add-item {
  bottom: 166px;
  bottom: calc(166px + env(safe-area-inset-bottom));
}

[data-has-notch].platform-web .fl-with-bottom-menu .new-agenda-list-container.has-agenda-toggle ~ .dynamic-list-add-item {
  bottom: calc(166px + 34px); /* For Fliplet Studio */
}

[data-widget-package="com.fliplet.dynamic-lists"] .btn.dynamic-list-edit-item,
[data-widget-package="com.fliplet.dynamic-lists"] .btn.dynamic-list-delete-item {
  display: inline-block;
  cursor: pointer;
  border-radius: 40px;
  padding: 8px 18px;
  font-size: 0.9em;
  line-height: 24px;
  width: auto;
}

.dynamic-list-delete-item {
  background-color: #f92c26;
  border-color: #f92c26;
}

.dynamic-list-edit-item {
  border: 1px solid #dddddd;
}

.dynamic-list-edit-item:hover,
.dynamic-list-delete-item:hover {
  border: 1px solid transparent;
}

.dynamic-list-edit-item:focus,
.dynamic-list-delete-item:focus {
  outline: none;
}

.dynamic-list-edit-item:active,
.dynamic-list-delete-item:active {
  box-shadow: none;
}

.dynamic-list-edit-item + .dynamic-list-delete-item {
  margin-left: 5px;
}

.close-icon {
  width: 40%;
}

.hidden-filter-controls {
  max-width: 100%;
}

.filter-holder .panel-group .panel .panel-body {
  background-color: transparent;
}

.sort-group .list-sort {
  right: 0;
  left: auto;
}

.sort-group .list-sort > li > span {
  padding: 3px 20px;
  display: block;
  clear: both;
  white-space: nowrap;
}

.multiple-images-holder {
  display: flex;
  flex-wrap: wrap;
}

.multiple-images-item {
  width: calc(50% - 7.5px);
  margin-top: 15px;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid rgba(127, 127, 127, 0.5);
  cursor: pointer;
}

.multiple-images-item:nth-of-type(2n + 1) {
  margin-right: 15px;
}

.multiple-images-item .image {
  width: 100%;
  padding-top: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 640px) {
  .multiple-images-item {
    width: calc(33.33% - 7.5px);
    margin-right: 15px;
  }

  .multiple-images-item:nth-of-type(3n) {
    margin-right: 0;
  }
}

/*
  This part of the code is needed for supporting .fa-times-thin class in users who updated
  to use UNICODE icons instead of SVG icons.
*/

[data-widget-package="com.fliplet.dynamic-lists"] .close-icon .fa-times-thin {
  padding-top: 2px;
  padding-bottom: 4px;
  font-size: 0.8em !important;
}

[data-widget-package="com.fliplet.dynamic-lists"] .close-icon .fa-times-thin::before {
  content: '\002573';
}

/* IE11 layout */
@media screen and (-ms-high-contrast: none) {
  [data-widget-package="com.fliplet.dynamic-lists"] .close-icon .fa-times-thin {
    padding-top: 0px;
    padding-bottom: 5px;
  }
}

/* Safari layout */
@media not all and (min-resolution:.001dpcm) {
  @media {
    [data-widget-package="com.fliplet.dynamic-lists"] .close-icon .fa-times-thin {
      padding-top: 1px;
      padding-bottom: 0px;
    }
  }
}

/* For native devices */
.native.android [data-widget-package="com.fliplet.dynamic-lists"] .close-icon .fa-times-thin {
  padding-top: 5px;
}

.native.ios [data-widget-package="com.fliplet.dynamic-lists"] .close-icon .fa-times-thin {
  padding-top: 1px;
}

.mode-interact [data-dynamic-lists-id] {
  min-height: 32px;
}

/* For MS Edge */
@supports (-ms-ime-align:auto) {
  [data-widget-package="com.fliplet.dynamic-lists"] .close-icon .fa-times-thin {
    padding-top: 1px;
    padding-bottom: 3px;
  }
}

/* For Firefox */
@-moz-document url-prefix() {
  [data-widget-package="com.fliplet.dynamic-lists"] .close-icon .fa-times-thin {
    padding-top: 2px;
    padding-bottom: 5px;
  }

  .no-windows [data-widget-package="com.fliplet.dynamic-lists"] .close-icon .fa-times-thin {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

/* For Android Chrome browser*/
.android.no-native [data-widget-package="com.fliplet.dynamic-lists"] .close-icon .fa-times-thin {
  padding-top: 2px;
  padding-bottom: 2px;
}
