.dynamic-list-controls {
  margin-top: 50px;
}

.dynamic-list-placeholder {
  padding: 20px;
  text-align: center;
  background: rgba(51,51,51,0.1);
  border: 4px solid rgba(51,51,51,0.15);
}

.dynamic-list-add-item {
  position: fixed;
  right: 15px;
  bottom: 15px;
  bottom: calc(15px + env(safe-area-inset-bottom));
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #337ab7;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

.fl-with-bottom-menu .dynamic-list-add-item {
  bottom: 80px;
  bottom: calc(80px + env(safe-area-inset-bottom));
}

.new-agenda-list-container.has-agenda-toggle + .dynamic-list-add-item {
  bottom: 100px;
  bottom: calc(100px + env(safe-area-inset-bottom));
}

.fl-with-bottom-menu .new-agenda-list-container.has-agenda-toggle + .dynamic-list-add-item {
  bottom: 166px;
  bottom: calc(166px + env(safe-area-inset-bottom));
}

.btn.dynamic-list-edit-item,
.btn.dynamic-list-delete-item {
  display: inline-block;
  cursor: pointer;
  border-radius: 6px;
}

.dynamic-list-edit-item {
  border: 1px solid #dddddd;
}

.dynamic-list-edit-item:hover,
.dynamic-list-delete-item:hover {
  border: 1px solid transparent;
}

.dynamic-list-edit-item:focus,
.dynamic-list-delete-item:focus {
  outline: none;
}

.dynamic-list-edit-item:active,
.dynamic-list-delete-item:active {
  box-shadow: none;
}

.dynamic-list-edit-item + .dynamic-list-delete-item {
  margin-left: 5px;
}
