<option disabled>Organization</option>
<option value="organization" data-org-option data-org-id="{{userOrganization.id}}">{{userOrganization.name}}</option>
<option disabled>This app</option>
<option value="app" data-app-option data-app-id="{{currentApp.id}}">{{currentApp.name}}</option>
<option disabled>------</option>
<option value="all-folders">Select other folders</option>
<option disabled>------</option>
<option value="url">URL to external image</option>