{
  "extends": "fliplet",
  "root": true,
  "globals": {
    "_": "readonly",
    "DynamicLists": "readonly",
    "flListLayoutConfig": "readonly",
    "LikeButton": "readonly",
    "Hammer": "readonly",
    "autosize": "readonly",
    "Raven": "readonly",
    "Modernzr": "readonly",
    "NativeUtils": "writable"
  },
  "rules": {
    "no-eval": 0
  }
}
