{
  "extends": "fliplet",
  "globals": {
    "interfaceBrowser": true,
    "buildBrowser": true,
    "interfaceUrl": true,
    "buildUrl": true,
    "widgetInstance": true,
    "buildSelector": true
  }
}
