.mode-interact [data-dynamic-lists-layout="agenda"] {
  height: 100vh;
}

.mode-interact .new-agenda-list-container {
  pointer-events: none;
}

*.lock {
  overflow: hidden;
}

/* AGENDA CONTROLS - MY AGENDA */
.new-agenda-list-container .agenda-list-controls {
  position: absolute;
  bottom: 15px;
  bottom: calc(15px + env(safe-area-inset-bottom));
  right: 15px;
  z-index: 11;
  cursor: pointer;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.fl-with-bottom-menu .new-agenda-list-container .agenda-list-controls {
  bottom: 80px;
  bottom: calc(80px + env(safe-area-inset-bottom));
}

.fl-with-bottom-menu.fl-menu-circle-left .new-agenda-list-container .agenda-list-controls {
  bottom: 15px;
  bottom: calc(15px + env(safe-area-inset-bottom));
}

.no-touchevents .new-agenda-list-container .agenda-list-controls:active,
.no-touchevents .new-agenda-list-container .agenda-list-controls:focus,
.no-touchevents .new-agenda-list-container .agenda-list-controls:active:focus,
.new-agenda-list-container .agenda-list-controls.hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.new-agenda-list-container .agenda-list-controls .toggle-agenda {
  text-align: center;
}

.new-agenda-list-container .agenda-list-controls .toggle-agenda .fa {
  font-size: 22px;
  color: #333333;
  opacity: 0.5;
}

.new-agenda-list-container .agenda-list-controls .toggle-agenda .fa.fa-bookmark,
.new-agenda-list-container .agenda-list-controls .toggle-agenda.mixitup-control-active .fa.fa-bookmark-o {
  display: none;
}

.new-agenda-list-container .agenda-list-controls .toggle-agenda .fa.fa-bookmark-o,
.new-agenda-list-container .agenda-list-controls .toggle-agenda.mixitup-control-active .fa.fa-bookmark {
  display: block;
}

.new-agenda-list-container .agenda-list-controls .toggle-agenda.mixitup-control-active .fa {
  color: #337ab7;
  opacity: 1;
}

.new-agenda-list-container .agenda-list-controls .agenda-list-label {
  margin-top: 2px;
  font-size: 8px;
  color: #333333;
  opacity: 0.8;
  text-transform: uppercase;
}

/* DATE SELECTOR */
.new-agenda-list-container .agenda-date-selector {
  position: fixed;
  top: 0;
  top: env(safe-area-inset-top);
  left: 0;
  right: 0;
  display: flex;
  padding: 16px 0 10px 0;
  background-color: #ffffff;
  z-index: 12;
}

.fl-with-top-menu .new-agenda-list-container .agenda-date-selector {
  top: 44px;
  top: calc(44px + env(safe-area-inset-top));
}

.new-agenda-list-container .agenda-date-selector.slim {
  padding: 5px 15px;
}

.new-agenda-list-container .agenda-date-selector ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 0;
  text-align: center;
}

.new-agenda-list-container .agenda-date-selector ul.is-panning {
  overflow-x: hidden;
}

.new-agenda-list-container .agenda-date-selector ul li {
  width: 20%;
  padding: 0 10px;
  display: inline-block;
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
  color: rgba(51, 51, 51, 0.5);
  cursor: pointer;
  text-transform: uppercase;
}

.new-agenda-list-container .agenda-date-selector ul li .day {
  font-size: 4.5em;
  line-height: 1;
  font-weight: 600;
  color: rgba(51, 51, 51, 0.7);
}

.new-agenda-list-container .agenda-date-selector ul li.active {
  cursor: default;
  pointer-events: none;
  color: rgba(51, 122, 183, 0.5);
}

.new-agenda-list-container .agenda-date-selector ul li.active .day {
  color: rgba(51, 122, 183, 1);
}

.new-agenda-list-container .agenda-date-selector ul li.placeholder {
  color: rgba(51, 51, 51, 0.1);
  pointer-events: none;
  cursor: default;
}

.new-agenda-list-container .agenda-date-selector ul li.placeholder .day {
  color: rgba(51, 51, 51, 0.1);
}

.new-agenda-list-container .agenda-date-selector.slim ul li {
  font-size: 8px;
  line-height: 1.2;
}

/* AGENDA LIST */
.new-agenda-list-container {
  position: fixed;
  width: 100vw;
  top: 0;
  top: env(safe-area-inset-top);
  bottom: 0;
  left: 0;
}

.new-agenda-list-container .agenda-cards-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  margin: auto;
}

.new-agenda-list-container .agenda-list-holder {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  font-size: 0;
}

.new-agenda-list-container .agenda-list-day-holder {
  display: inline-block;
  font-size: 16px;
  padding: 131px 15px 15px;
  margin: auto;
  width: 100vw;
  height: 100%;
  overflow: auto;
}

.fl-with-top-menu .new-agenda-list-container .agenda-list-day-holder {
  padding-top: 175px;
}

.new-agenda-list-container .agenda-list-controls ~ .agenda-cards-wrapper .agenda-list-day-holder {
  padding-bottom: 95px;
}

.fl-with-bottom-menu .new-agenda-list-container .agenda-list-controls ~ .agenda-cards-wrapper .agenda-list-day-holder {
  padding-bottom: 160px;
}

.new-agenda-list-container .agenda-list-controls ~ .agenda-cards-wrapper .agenda-list-day-holder.has-add-entry {
  padding-bottom: 180px;
}

.fl-with-bottom-menu .new-agenda-list-container .agenda-list-controls ~ .agenda-cards-wrapper .agenda-list-day-holder.has-add-entry {
  padding-bottom: 240px;
}

.new-agenda-list-container .agenda-state-messages {
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
}

.new-agenda-list-container .loading-holder {
  text-align: center;
  color: #333333;
  opacity: 0.5;
  cursor: pointer;
}

.new-agenda-list-container.ready .loading-holder {
  display: none;
}

.new-agenda-list-container .agenda-list-card-holder {
  outline: none !important;
  max-width: 600px;
  margin: 0 auto;
}

.new-agenda-list-container .agenda-item-empty-state {
  display: none;
  text-align: center;
  font-size: 16px;
  color: #dddddd;
}

.new-agenda-list-container .agenda-list-card-holder.empty + .agenda-item-empty-state {
  display: block;
  content: "Nothing bookmarked for this date";
  display: block;
  text-align: center;
  font-size: 16px;
  color: #333333;
  opacity: 0.5;
}

.new-agenda-list-container .agenda-list-card-holder.mixing:after {
  display: none;
}

/* CARDS */

.new-agenda-list-container .agenda-list-item {
  position: relative;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.15s ease-out, opacity 0.2s ease-out;
  opacity: 1;
  margin-bottom: 20px;
  white-space: normal;
}

.no-touchevents .new-agenda-list-container .agenda-list-item:active,
.no-touchevents .new-agenda-list-container .agenda-list-item:focus,
.no-touchevents .new-agenda-list-container .agenda-list-item:active:focus,
.new-agenda-list-container .agenda-list-item.hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.new-agenda-list-container .agenda-list-item:last-child {
  margin-bottom: 0;
}

.new-agenda-list-container.loading .agenda-list-item {
  opacity: 0;
}

.new-agenda-list-container .agenda-list-item.open {
  border-radius: 0;
  overflow: visible;
}

.new-agenda-list-container .agenda-list-item-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
  transition: border-radius 0.15s ease;
  border-radius: 20px;
  cursor: pointer;
}

.new-agenda-list-container .agenda-list-item.open .agenda-list-item-content {
  z-index: 11 !important;
  background: #ffffff;
  border-radius: 0px;
  cursor: default;
}

.new-agenda-list-container .agenda-list-item-content .container-fluid {
  max-width: 600px;
  margin: 0 auto;
}

/* CARD CONTENT */

.new-agenda-list-container .agenda-list-item-content .slide-under {
  position: absolute;
}

.new-agenda-list-container .agenda-list-item-content .banner {
  position: relative;
  height: 412px;
  width: 100%;
  padding: 15px;
  background-size: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

.new-agenda-list-container .agenda-list-item.open .agenda-list-item-content .banner {
  border-radius: 0;
}

.new-agenda-list-container .agenda-item-inner-content {
  padding: 15px 34px 15px 15px;
  position: relative;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.new-agenda-list-container .agenda-list-item.open .agenda-item-inner-content {
  align-items: flex-start;
  padding: 15px;
}

.new-agenda-list-container .agenda-list-item .slide-over {
  top: initial;
  padding: 0;
  z-index: 1;
  height: 100%;
  background-color: transparent;
}

.new-agenda-list-container .agenda-list-item.open .slide-over {
  overflow: auto;
}

.new-agenda-list-container .agenda-list-item.open .slide-over .agenda-item-inner-content {
  padding: 45px 15px;
  padding-bottom: calc(20px + env(safe-area-inset-bottom));
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.new-agenda-list-container .slide-over .agenda-item-inner-content .agenda-item-info-holder {
  min-width: 60px;
  width: 60px;
  margin-right: 15px;
  text-align: center;
}

.new-agenda-list-container .slide-over .agenda-item-inner-content .agenda-item-time {
  text-transform: uppercase;
  color: #333333;
  font-size: 16px;
  opacity: 0.2;
  font-weight: 500;
  line-height: 1.4;
}

.new-agenda-list-container .slide-over .agenda-item-inner-content .agenda-item-time.line {
  font-size: 12px;
  line-height: 1;
}

.new-agenda-list-container .slide-over .agenda-item-inner-content h2.agenda-item-title,
.agenda-detail-overlay .agenda-item-inner-content h2.agenda-item-title {
  position: relative;
  margin-top: 0;
  font-size: 20px;
  line-height: 1.2em;
  margin-bottom: 5px;
  font-weight: 600;
}

.new-agenda-list-container .agenda-list-item.open .slide-over .agenda-item-inner-content h2.agenda-item-title:after,
.agenda-detail-overlay .agenda-item-inner-content h2.agenda-item-title:after {
  content: '';
  display: block;
  width: 60%;
  height: 4px;
  background-color: #337ab7;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.new-agenda-list-container .agenda-list-item.open .slide-over .agenda-item-inner-content h2,
.agenda-detail-overlay .agenda-item-inner-content h2.agenda-item-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.new-agenda-list-container .slide-over .agenda-item-inner-content .agenda-item-session-location,
.agenda-detail-overlay .agenda-item-inner-content .agenda-item-session-location {
  font-size: 0.9em;
  line-height: 1.4;
  color: #333333;
  opacity: 0.6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new-agenda-list-container .slide-over .agenda-item-inner-content .agenda-item-session-location .agenda-item-location {
  margin-bottom: 0;
}

.new-agenda-list-container .agenda-list-item.open .agenda-item-inner-content .agenda-item-session-location .agenda-item-location,
.agenda-detail-overlay .agenda-item-inner-content .agenda-item-session-location .agenda-item-location {
  margin-bottom: 5px;
  font-size: 20px;
}

.new-agenda-list-container .agenda-list-item.open .agenda-item-inner-content .agenda-item-session-location .agenda-item-start-date-time,
.agenda-detail-overlay .agenda-item-inner-content .agenda-item-session-location .agenda-item-start-date-time {
  display: block;
  margin: 0 0 4px 0;
}

.new-agenda-list-container .slide-over .agenda-item-inner-content .agenda-item-time-date,
.agenda-detail-overlay .agenda-item-inner-content .agenda-item-time-date {
  color: #999999;
  font-size: 0.9em;
  line-height: 1.4;
}

.new-agenda-list-container .slide-over .agenda-item-inner-content .agenda-item-description,
.agenda-detail-overlay .agenda-item-inner-content .agenda-item-description {
  font-size: 0.9em;
  line-height: 1.4;
}

.new-agenda-list-container .agenda-list-item.open .slide-over .agenda-item-inner-content .agenda-item-description,
.agenda-detail-overlay .agenda-item-inner-content .agenda-item-description {
  font-size: 1em;
  line-height: 1.6;
}

.new-agenda-list-container .agenda-list-item.open .agenda-item-inner-content .agenda-item-description,
.agenda-detail-overlay .agenda-item-inner-content .agenda-item-description {
  margin-top: 20px;
}

.new-agenda-list-container .agenda-list-item:not(.open) .slide-over .agenda-item-inner-content .agenda-item-description {
  overflow: hidden;
  display: none;
  color: #999999;
}

.new-agenda-list-container .agenda-list-item.open .agenda-item-inner-content .agenda-item-info-holder,
.new-agenda-list-container .agenda-list-item:not(.open) .slide-over .agenda-item-inner-content .agenda-item-time-date,
.new-agenda-list-container .agenda-list-item:not(.open) .slide-over .agenda-item-inner-content .agenda-item-session,
.new-agenda-list-container .slide-over .agenda-item-inner-content .agenda-item-session-location .agenda-item-start-date-time {
  display: none;
}

/* CLOSE BUTTON */

.new-agenda-list-container .agenda-list-item .agenda-item-close-btn {
  position: fixed;
  right: 15px;
  top: 15px;
  top: calc(15px + env(safe-area-inset-top));
  height: 38px;
  width: 38px;
  line-height: 36px;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  color: #337ab7;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in-out;
}

.new-agenda-list-container .agenda-list-item.open .agenda-item-close-btn {
  z-index: 11;
  opacity: 0.9;
  visibility: visible;
}

/* BOOKMARK */
.new-agenda-list-container .bookmark-wrapper,
.agenda-detail-overlay .bookmark-wrapper {
  line-height: 1;
  padding: 10px;
  font-size: 25px;
}

.new-agenda-list-container .agenda-list-item.open .bookmark-wrapper,
.agenda-detail-overlay .bookmark-wrapper {
  display: inline-block;
  padding: 0;
}

.new-agenda-list-container .agenda-list-item:not(.open) .bookmark-wrapper .fa-bookmark-o:after {
  display: none;
}

.new-agenda-list-container .bookmark-wrapper .fa-bookmark-o:after,
.agenda-detail-overlay .bookmark-wrapper .fa-bookmark-o:after {
  content: 'Add to My Agenda?';
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgba(51, 51, 51, 0.5);
  margin-left: 5px;
}

.new-agenda-list-container .agenda-item-bookmark-holder,
.agenda-detail-overlay .agenda-item-bookmark-holder {
  color: #dddddd;
  cursor: pointer;
}

.new-agenda-list-container .agenda-list-item:not(.open) .agenda-item-bookmark-holder {
  position: absolute;
  right: 0;
  bottom: 0;
}

.new-agenda-list-container .agenda-item-bookmark-holder .fa-bookmark-o,
.new-agenda-list-container .bookmark-wrapper .fa-bookmark-o,
.agenda-detail-overlay .agenda-item-bookmark-holder .fa-bookmark-o,
.agenda-detail-overlay .bookmark-wrapper .fa-bookmark-o {
  color: rgba(51, 51, 51, 0.2);
  display: flex;
  align-items: center;
}

.new-agenda-list-container .bookmark-wrapper .fa-bookmark,
.agenda-detail-overlay .bookmark-wrapper .fa-bookmark {
  color: #337ab7;
}

.dynamic-list-controls {
  display: none;
}

.agenda-list-item.open .dynamic-list-controls {
  display: block;
}

.agenda-item-detail-label {
  font-size: 12px;
  opacity: 0.5;
}

@media screen and (min-width: 640px) {
  .new-agenda-list-container .agenda-list-item.open .slide-over .agenda-item-inner-content {
    padding: 40px;
  }

  .new-agenda-list-container .agenda-list-item.open .agenda-list-item-content {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px 0;
    overflow: hidden;
  }

  .new-agenda-list-container .agenda-list-item.open .slide-over {
    height: auto;
    border-radius: 20px;
  }
}

/** OVERLAY **/
.agenda-detail-overlay.open .dynamic-list-controls {
  display: block;
}

.agenda-detail-overlay {
  position: fixed;
  top: 0;
  top: env(safe-area-inset-top);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  pointer-events: all;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-out;
  /*-webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);*/
}

.agenda-detail-overlay.open {
  visibility: visible;
  opacity: 1;
  /*-webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);*/
}

.agenda-detail-overlay .agenda-detail-overlay-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  pointer-events: none;
}

.agenda-detail-overlay .agenda-detail-overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.agenda-detail-overlay .agenda-detail-overlay-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border-radius: 0;
  overflow: hidden;
}

.agenda-detail-overlay-panel .agenda-detail-overlay-heading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent !important;
}

.agenda-detail-overlay-wrapper .agenda-detail-overlay-close {
  position: absolute;
  right: 15px;
  top: 15px;
  height: 38px;
  width: 38px;
  line-height: 38px;
  font-size: 24px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  color: #333333;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
  z-index: 13;
}

.agenda-detail-overlay-wrapper .agenda-detail-overlay-close.go-previous-screen {
  font-size: 2em;
}

.agenda-detail-overlay-panel .agenda-detail-overlay-content {
  height: 100%;
  overflow: auto;
  padding: 40px 15px 15px 15px;
}

.agenda-detail-overlay-close.tablet {
  display: none;
}

@media screen and (min-width: 640px) {
  .agenda-detail-overlay .agenda-detail-overlay-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 40px 0;
  }

  .agenda-detail-overlay .agenda-detail-overlay-panel {
    position: relative;
    max-width: 600px;
    margin: auto auto;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    border-radius: 20px;

  }

  .agenda-detail-wrapper .agenda-list-detail-image-wrapper {
    position: relative;
    width: auto;
  }

  .agenda-detail-overlay-panel .agenda-detail-overlay-content,
  .agenda-detail-wrapper .agenda-list-detail-content-wrapper {
    padding: 0;
  }

  .agenda-detail-wrapper .agenda-list-detail-content-wrapper,
  .agenda-detail-overlay.ready .agenda-detail-wrapper .agenda-list-detail-content-wrapper {
    top: 0;
  }

  .agenda-detail-wrapper .agenda-list-detail-content-scroll-wrapper {
    position: relative;
    padding: 40px;
  }

  .agenda-detail-overlay-close {
    display: none;
  }

  .agenda-detail-overlay-wrapper .agenda-detail-overlay-close.tablet {
    display: block;
    position: fixed;
  }

  .agenda-detail-overlay-panel .agenda-detail-overlay-heading {
    display: none;
  }
}