.mode-interact [data-dynamic-lists-layout="agenda"] {
  height: 100vh;
}

.mode-interact .agenda-list-container {
  pointer-events: none;
}

*.lock {
  overflow: hidden;
}

/* AGENDA CONTROLS - MY AGENDA */
[data-version="1.0.0"] .agenda-list-controls {
  position: absolute;
  bottom: 15px;
  bottom: calc(15px + env(safe-area-inset-bottom));
  right: 15px;
  z-index: 11;
  cursor: pointer;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
}

[data-version="1.0.0"] .fl-with-bottom-menu .agenda-list-controls {
  bottom: 80px;
  bottom: calc(80px + env(safe-area-inset-bottom));
}

[data-version="1.0.0"] .fl-with-bottom-menu.fl-menu-circle-right .agenda-list-controls {
  right: auto;
  left: 15px;
}

.no-touchevents [data-version="1.0.0"]  .agenda-list-controls:active,
.no-touchevents [data-version="1.0.0"]  .agenda-list-controls:focus,
.no-touchevents [data-version="1.0.0"] .agenda-list-controls:active:focus,
.agenda-list-controls.hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

[data-version="1.0.0"] .agenda-list-controls .toggle-agenda {
  text-align: center;
}

[data-version="1.0.0"] .agenda-list-controls .toggle-agenda .fa {
  font-size: 22px;
  color: #333333;
  opacity: 0.5;
}

[data-version="1.0.0"] .agenda-list-controls .toggle-agenda .fa.fa-bookmark,
[data-version="1.0.0"] .agenda-list-controls .toggle-agenda.mixitup-control-active .fa.fa-bookmark-o {
  display: none;
}

[data-version="1.0.0"] .agenda-list-controls .toggle-agenda .fa.fa-bookmark-o,
[data-version="1.0.0"] .agenda-list-controls .toggle-agenda.mixitup-control-active .fa.fa-bookmark {
  display: block;
}

[data-version="1.0.0"] .agenda-list-controls .toggle-agenda.mixitup-control-active .fa {
  color: #337ab7;
  opacity: 1;
}

[data-version="1.0.0"] .agenda-list-controls .agenda-list-label {
  margin-top: 2px;
  font-size: 8px;
  color: #333333;
  opacity: 0.8;
  text-transform: uppercase;
}

/* DATE SELECTOR */
[data-version="1.0.0"] .agenda-date-selector {
  position: fixed;
  top: 0;
  top: env(safe-area-inset-top);
  left: 0;
  right: 0;
  display: flex;
  padding: 16px 0 10px 0;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color:rgba(255, 255, 255, 0.85);
  z-index: 11;
}

.fl-with-top-menu [data-version="1.0.0"] .agenda-date-selector {
  top: 44px;
  top: calc(44px + env(safe-area-inset-top));
}

[data-version="1.0.0"] .agenda-date-selector.slim {
  padding: 5px 15px;
}

[data-version="1.0.0"] .agenda-date-selector ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 0;
  text-align: center;
}

[data-version="1.0.0"] .agenda-date-selector ul.is-panning {
  overflow-x: hidden;
}

[data-version="1.0.0"] .agenda-date-selector ul li {
  width: 20%;
  padding: 0 10px;
  display: inline-block;
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
  color: rgba(51, 51, 51, 0.5);
  cursor: pointer;
  text-transform: uppercase;
}

[data-version="1.0.0"] .agenda-date-selector ul li .day {
  font-size: 4.5em;
  line-height: 1;
  font-weight: 600;
  color: rgba(51, 51, 51, 0.7);
}

[data-version="1.0.0"] .agenda-date-selector ul li.active {
  cursor: default;
  pointer-events: none;
  color: rgba(51, 122, 183, 0.5);
}

[data-version="1.0.0"] .agenda-date-selector ul li.active .day {
  color: rgba(51, 122, 183, 1);
}

[data-version="1.0.0"] .agenda-date-selector ul li.placeholder {
  color: rgba(51, 51, 51, 0.1);
  pointer-events: none;
  cursor: default;
}

[data-version="1.0.0"] .agenda-date-selector ul li.placeholder .day {
  color: rgba(51, 51, 51, 0.1);
}

[data-version="1.0.0"] .agenda-date-selector.slim ul li {
  font-size: 8px;
  line-height: 1.2;
}

/* AGENDA LIST */
[data-version="1.0.0"].agenda-list-container {
  position: fixed;
  width: 100vw;
  top: 0;
  top: env(safe-area-inset-top);
  bottom: 0;
  left: 0;
}

[data-version="1.0.0"] .agenda-cards-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  margin: auto;
}

[data-version="1.0.0"] .agenda-list-holder {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  font-size: 0;
}

[data-version="1.0.0"] .agenda-list-day-holder {
  display: inline-block;
  font-size: 16px;
  padding: 131px 15px 15px;
  margin: auto;
  width: 100vw;
  height: 100%;
  overflow: auto;
}

.fl-with-top-menu [data-version="1.0.0"] .agenda-list-day-holder {
  padding-top: 175px;
}

[data-version="1.0.0"] .agenda-list-controls ~ .agenda-cards-wrapper .agenda-list-day-holder {
  padding-bottom: 95px;
}

.fl-with-bottom-menu [data-version="1.0.0"] .agenda-list-controls ~ .agenda-cards-wrapper .agenda-list-day-holder {
  padding-bottom: 160px;
}

[data-version="1.0.0"] .agenda-state-messages {
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
}

[data-version="1.0.0"] .loading-holder {
  text-align: center;
  color: #333333;
  opacity: 0.5;
  cursor: pointer;
}

[data-version="1.0.0"].ready .loading-holder {
  display: none;
}

[data-version="1.0.0"] .agenda-list-card-holder {
  outline: none !important;
  max-width: 600px;
  margin: 0 auto;
}

[data-version="1.0.0"] .agenda-item-empty-state {
  display: none;
  text-align: center;
  font-size: 16px;
  color: #dddddd;
}

[data-version="1.0.0"] .agenda-list-card-holder.empty + .agenda-item-empty-state {
  display: block;
  content: "Nothing bookmarked for this date";
  display: block;
  text-align: center;
  font-size: 16px;
  color: #333333;
  opacity: 0.5;
}

[data-version="1.0.0"] .agenda-list-card-holder.mixing:after {
  display: none;
}

/* CARDS */

[data-version="1.0.0"] .agenda-list-item {
  position: relative;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.15s ease-out, opacity 0.2s ease-out;
  opacity: 1;
  margin-bottom: 20px;
  white-space: normal;
}

.no-touchevents [data-version="1.0.0"] .agenda-list-item:active,
.no-touchevents [data-version="1.0.0"] .agenda-list-item:focus,
.no-touchevents [data-version="1.0.0"] .agenda-list-item:active:focus,
[data-version="1.0.0"] .agenda-list-item.hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

[data-version="1.0.0"] .agenda-list-item:last-child {
  margin-bottom: 0;
}

[data-version="1.0.0"].loading .agenda-list-item {
  opacity: 0;
}

[data-version="1.0.0"] .agenda-list-item.open {
  border-radius: 0;
  overflow: visible;
}

[data-version="1.0.0"] .agenda-list-item-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
  transition: border-radius 0.15s ease;
  border-radius: 20px;
  cursor: pointer;
}

[data-version="1.0.0"] .agenda-list-item.open .agenda-list-item-content {
  z-index: 11 !important;
  background: #ffffff;
  border-radius: 0px;
  cursor: default;
}

[data-version="1.0.0"] .agenda-list-item-content .container-fluid {
  max-width: 600px;
}

/* CARD CONTENT */

[data-version="1.0.0"] .agenda-list-item-content .slide-under {
  position: absolute;
}

[data-version="1.0.0"] .agenda-list-item-content .banner {
  position: relative;
  height: 412px;
  width: 100%;
  padding: 15px;
  background-size: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

[data-version="1.0.0"] .agenda-list-item.open .agenda-list-item-content .banner {
  border-radius: 0;
}

[data-version="1.0.0"] .agenda-item-inner-content {
  padding: 15px 34px 15px 15px;
  position: relative;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

[data-version="1.0.0"] .agenda-list-item.open .agenda-item-inner-content {
  align-items: flex-start;
  padding: 15px;
}

[data-version="1.0.0"] .agenda-list-item .slide-over {
  top: initial;
  padding: 0;
  z-index: 1;
  height: 100%;
  background-color: transparent;
}

[data-version="1.0.0"] .agenda-list-item.open .slide-over {
  overflow: auto;
}

[data-version="1.0.0"] .agenda-list-item.open .slide-over .agenda-item-inner-content {
  padding: 45px 15px;
  padding-bottom: calc(20px + env(safe-area-inset-bottom));
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

[data-version="1.0.0"] .slide-over .agenda-item-inner-content .agenda-item-info-holder {
  min-width: 60px;
  width: 60px;
  margin-right: 15px;
  text-align: center;
}

[data-version="1.0.0"] .slide-over .agenda-item-inner-content .agenda-item-time {
  text-transform: uppercase;
  color: #333333;
  font-size: 16px;
  opacity: 0.2;
  font-weight: 500;
  line-height: 1.4;
}

[data-version="1.0.0"] .slide-over .agenda-item-inner-content .agenda-item-time.line {
  font-size: 12px;
  line-height: 1;
}

[data-version="1.0.0"] .slide-over .agenda-item-inner-content h2.agenda-item-title {
  position: relative;
  margin-top: 0;
  font-size: 20px;
  line-height: 1.2em;
  margin-bottom: 5px;
  font-weight: 600;
}

[data-version="1.0.0"] .agenda-list-item.open .slide-over .agenda-item-inner-content h2.agenda-item-title:after {
  content: '';
  display: block;
  width: 60%;
  height: 4px;
  background-color: #337ab7;
  position: absolute;
  bottom: -10px;
  left: 0;
}

[data-version="1.0.0"] .agenda-list-item.open .slide-over .agenda-item-inner-content h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

[data-version="1.0.0"] .slide-over .agenda-item-inner-content .agenda-item-session-location {
  font-size: 0.9em;
  line-height: 1.4;
  color: #333333;
  opacity: 0.6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-version="1.0.0"] .slide-over .agenda-item-inner-content .agenda-item-session-location .agenda-item-location {
  margin-bottom: 0;
}

[data-version="1.0.0"] .agenda-list-item.open .agenda-item-inner-content .agenda-item-session-location .agenda-item-location {
  margin-bottom: 5px;
  font-size: 20px;
}

[data-version="1.0.0"] .agenda-list-item.open .agenda-item-inner-content .agenda-item-session-location .agenda-item-start-date-time {
  display: block;
  margin: 0 0 4px 0;
}

[data-version="1.0.0"] .slide-over .agenda-item-inner-content .agenda-item-time-date {
  color: #999999;
  font-size: 0.9em;
  line-height: 1.4;
}

[data-version="1.0.0"] .slide-over .agenda-item-inner-content .agenda-item-description {
  font-size: 0.9em;
  line-height: 1.4;
}

[data-version="1.0.0"] .agenda-list-item.open .slide-over .agenda-item-inner-content .agenda-item-description {
  font-size: 1em;
  line-height: 1.6;
}

[data-version="1.0.0"] .agenda-list-item.open .agenda-item-inner-content .agenda-item-description {
  margin-top: 20px;
}

[data-version="1.0.0"] .agenda-list-item:not(.open) .slide-over .agenda-item-inner-content .agenda-item-description {
  overflow: hidden;
  display: none;
  color: #999999;
}

[data-version="1.0.0"] .agenda-list-item.open .agenda-item-inner-content .agenda-item-info-holder,
[data-version="1.0.0"] .agenda-list-item:not(.open) .slide-over .agenda-item-inner-content .agenda-item-time-date,
[data-version="1.0.0"] .agenda-list-item:not(.open) .slide-over .agenda-item-inner-content .agenda-item-session,
[data-version="1.0.0"] .slide-over .agenda-item-inner-content .agenda-item-session-location .agenda-item-start-date-time {
  display: none;
}

/* CLOSE BUTTON */

[data-version="1.0.0"] .agenda-list-item .agenda-item-close-btn {
  position: fixed;
  right: 15px;
  top: 15px;
  top: calc(15px + env(safe-area-inset-top));
  height: 38px;
  width: 38px;
  line-height: 38px;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  color: #337ab7;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in-out;
}

[data-version="1.0.0"] .agenda-list-item.open .agenda-item-close-btn {
  z-index: 11;
  opacity: 0.9;
  visibility: visible;
}

/* BOOKMARK */
[data-version="1.0.0"] .bookmark-wrapper {
  line-height: 1;
  padding: 10px;
  font-size: 25px;
}

[data-version="1.0.0"] .agenda-list-item.open .bookmark-wrapper {
  display: inline-block;
  padding: 0;
}

[data-version="1.0.0"] .agenda-list-item:not(.open) .bookmark-wrapper .fa-bookmark-o:after {
  display: none;
}

[data-version="1.0.0"] .bookmark-wrapper .fa-bookmark-o:after {
  content: 'Add to My Agenda?';
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgba(51, 51, 51, 0.5);
  margin-left: 5px;
}

[data-version="1.0.0"] .agenda-item-bookmark-holder {
  color: #dddddd;
  cursor: pointer;
}

[data-version="1.0.0"] .agenda-list-item:not(.open) .agenda-item-bookmark-holder {
  position: absolute;
  right: 0;
  bottom: 0;
}

[data-version="1.0.0"] .agenda-item-bookmark-holder .fa-bookmark-o,
[data-version="1.0.0"] .bookmark-wrapper .fa-bookmark-o {
  color: rgba(51, 51, 51, 0.2);
  display: flex;
  align-items: center;
}

[data-version="1.0.0"] .bookmark-wrapper .fa-bookmark {
  color: #337ab7;
}