.mode-interact .simple-list-container {
  pointer-events: none;
}

.lock {
  overflow: hidden !important;
}

/* SEARCH FILTER OVERLAY */
.simple-list-search-filter-overlay {
  position: fixed;
  top: 0;
  top: env(safe-area-inset-top);
  right: 0;
  left: 0;
  z-index: 11;
  background-color: transparent;
  transform: translate3d(100%, 0, 0);
  transition: all 0.2s ease-out;
  height: 100vh;
  padding-bottom: env(safe-area-inset-top);
}

.simple-list-search-filter-overlay.display {
  transform: translate3d(0, 0, 0);
}

.simple-list-search-filter-overlay .simple-list-overlay-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.simple-list-search-filter-overlay .simple-list-overlay-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #232b3f;
  color: #fff;
}

.simple-list-search-filter-overlay .simple-list-overlay-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  padding-right: 15px;
  font-size: 1.2em;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #232b3f;
  z-index: 2;
}

.simple-list-overlay-header .filter-header-holder {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 5px;
}

.simple-list-container .filter-header-holder .filter-header-btn-controls {
  text-transform: none;
}

.simple-list-container .apply-filters {
  border: 1px solid #337ab7;
  border-radius: 20px;
  padding: 6px 14px;
  background-color: #337ab7;
}

.simple-list-container .clear-filters {
  padding: 6px 14px;
}

.simple-list-container .clear-filters:hover,
.simple-list-container .apply-filters:hover,
.simple-list-container .clear-filters:focus,
.simple-list-container .apply-filters:focus,
.simple-list-container .clear-filters:active,
.simple-list-container .apply-filters:active,
.simple-list-container .clear-filters:active:hover,
.simple-list-container .apply-filters:active:hover,
.simple-list-container .clear-filters:active:focus,
.simple-list-container .apply-filters:active:focus {
  color: #fff;
  box-shadow: none;
}

.simple-list-search-filter-overlay .simple-list-overlay-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 44px;
  padding: 15px;
  padding-bottom: calc(15px + env(safe-area-inset-bottom));
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

[data-has-notch].platform-web .simple-list-search-filter-overlay .simple-list-overlay-content {
  padding-bottom: calc(15px + 34px); /* For Fliplet Studio */
}

.simple-list-search-filter-overlay .simple-list-overlay-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  padding-left: 15px;
  font-size: 1.8em;
  line-height: 44px;
  z-index: 1;
  cursor: pointer;
  margin: 2px;
}

.simple-list-container .simple-list-search-filter-overlay .hidden-filter-controls,
.simple-list-container .simple-list-search-filter-overlay .hidden-search-controls {
  height: auto;
  overflow: initial;
  margin: 0;
}

.simple-list-search-filter-overlay .hidden-filter-controls-search {
  padding: 0;
}

.simple-list-search-filter-overlay .current-query-wrapper {
  position: relative;
  background-color: #337ab7;
  border: 1px solid #337ab7;
  color: #ffffff;
  padding: 8px 34px 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 1;
}

.simple-list-search-filter-overlay .current-query-wrapper .clear-search {
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.simple-list-search-filter-overlay .hidden-filter-controls-filter {
  width: auto;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  padding: 8px 15px;
  margin: 10px 5px 10px 0;
  font-size: 14px;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.simple-list-search-filter-overlay .hidden-filter-controls-filter:hover,
.simple-list-search-filter-overlay .hidden-filter-controls-filter:focus {
  color: rgba(255 ,255, 255, 0.7);
}

.simple-list-search-filter-overlay .hidden-filter-controls-filter.mixitup-control-active {
  background-color: #337ab7;
  color: #ffffff;
  border-color: #337ab7;
}

.simple-list-search-filter-overlay .hidden-filter-controls-filter:last-child {
  margin: 0;
}

.simple-list-container .filters-header {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.simple-list-search-filter-overlay .filter-holder {
  margin: 0 -15px;
}

.simple-list-container .filter-holder .panel-group .panel {
  border: none;
  border-radius: 0;
  background-color: #364363;
  margin-top: 1px;
}

.simple-list-container .filter-holder .panel-group .panel:first-child {
  margin-top: 0;
}

.simple-list-container .filter-holder .panel-default > .panel-heading {
  color: #ffffff;
  background-color: #232b3f;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 15px;
  cursor: pointer;
  position: relative;
}

.simple-list-container .filter-holder .panel-default > .panel-heading h4 {
  font-weight: normal;
}

.simple-list-container .filter-holder .panel-default > .panel-heading .fa {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -22px;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 1.5em;
}

.simple-list-container .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: none;
}

/* SEARCH / FILTERS */
.simple-list-container {
  max-width: 600px;
  margin: 0 auto;
}

.simple-list-container .section-top-wrapper {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.simple-list-container .list-search-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.simple-list-container .list-search-icon .fa {
  display: inline-block;
  font-size: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}

.simple-list-container .list-search-icon .fa-search.active,
.simple-list-container .list-search-icon .fa-sliders.active {
  display: none;
}

.simple-list-container .list-search-cancel {
  display: none;
  font-size: 20px;
  padding-left: 0;
  padding-right: 0;
}

.simple-list-container .fa-times {
  text-decoration: none;
}

.simple-list-container .list-search-cancel.active {
  display: inline-block;
}

.simple-list-container .hidden-filter-controls,
.simple-list-container .hidden-search-controls {
  height: 0;
  overflow: hidden;
  margin: 0;
  position: relative;
}

.simple-list-container .hidden-filter-controls-content {
  padding-bottom: 15px;
}

.simple-list-container .hidden-filter-controls-search {
  padding: 18px;
}

.simple-list-container .search-holder {
  width: 100%;
  position: relative;
}

.simple-list-container .search-holder .fa.fa-search {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #337ab7;
  width: 38px;
  height: 100%;
  font-size: 1.2em;
  line-height: 38px;
  text-align: center;
}

.simple-list-container .search-holder .btn.search-btn {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 1px;
  right: 2px;
  font-size: 14px;
  height: 35px;
  line-height: 1.6;
  z-index: 1;
  border-radius: 40px;
  background-color: #eeeeee;
  color: #333333;
  border: none;
  padding: 8px 12px;
  transition: opacity 0.2s ease-out;
}

.simple-list-container .search-holder .btn.search-btn:focus,
.simple-list-container .search-holder .btn.search-btn:hover,
.simple-list-container .search-holder .btn.search-btn:active:focus,
.simple-list-container .search-holder .btn.search-btn:active:hover {
  border-radius: 40px;
}

.simple-list-container .search-holder .search-feed:focus ~ .btn.search-btn,
.simple-list-container .search-holder .search-feed:valid ~ .btn.search-btn {
  opacity: 1;
  pointer-events: all;
}

.simple-list-container .search-holder .search-feed:focus ~ .btn.search-btn,
.simple-list-container .search-holder .search-feed:focus ~ .btn.search-btn:hover,
.simple-list-container .search-holder .search-feed:focus ~ .btn.search-btn:active,
.simple-list-container .search-holder .search-feed:focus ~ .btn.search-btn:active:hover {
  border: none;
  background-color: #eeeeee;
}

.simple-list-container .search-holder .btn.search-btn:hover,
.simple-list-container .search-holder .btn.search-btn:active,
.simple-list-container .search-holder .btn.search-btn:active:hover {
  border: none;
  background-color: #eeeeee;
}

.simple-list-container .search-holder .search-btn.searching-btn {
  transition: all 0.15s ease-out;
  pointer-events: none;
}

.simple-list-container .search-holder .search-btn.searching-btn,
.simple-list-container.searching .search-holder .search-btn {
  display: none;
  transition: all 0.15s ease-out;
}

.simple-list-container.searching .search-holder .search-btn.searching-btn {
  display: block;
}

.simple-list-container .search-holder .form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 8px 77px 8px 40px;
  height: auto;
}

.simple-list-container .search-holder .form-control:focus {
  border-color: #337ab7;
}

.simple-list-container .hidden-filter-controls-search .search-query-holder {
  width: 100%;
  display: none;
  align-items: center;
  color: #aaaaaa;
  font-size: 14px;
}

.simple-list-container .search-results .hidden-filter-controls-search .search-query-holder {
  display: block;
}

.simple-list-container .current-query-wrapper {
  position: relative;
  background-color: #337ab7;
  border: 1px solid #337ab7;
  color: #ffffff;
  padding: 8px 34px 8px 15px;
  border-radius: 20px;
  line-height: 1;
}

.simple-list-container .current-query {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 185px);
  display: inline-block;
  vertical-align: baseline;
}

.simple-list-container .current-query-wrapper .clear-search {
  position: absolute;
  right: 0;
  top: -2px;
  width: 34px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.simple-list-container .hidden-filter-controls-label {
  font-size: 14px;
  color: #aaaaaa;
  padding: 0 0 5px;
}

.simple-list-container .hidden-filter-controls-filter-container + .hidden-filter-controls-label {
  padding-top: 10px;
}

.simple-list-container .hidden-filter-controls-label span {
  font-weight: bold;
  text-transform: capitalize;
}

.simple-list-container .hidden-filter-controls-filter-container {
  width: 100%;
  display: flex;
}

.simple-list-container .hidden-filter-controls-filter-wrapper {
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.simple-list-container .hidden-filter-controls-filter {
  width: auto;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  padding: 8px 15px;
  margin: 2px 5px 7px 2px;
  font-size: 14px;
}

.simple-list-container .hidden-filter-controls-filter.mixitup-control-active {
  background-color: #337ab7;
  color: #ffffff;
  border-color: #337ab7;
}

.simple-list-container .hidden-filter-controls-filter:last-child {
  margin-right: 15px;
}

.simple-list-container .limit-entries-text {
  padding-top: 20px;
  text-align: center;
  opacity: 0.5;
}

.simple-list-container .back-button-holder {
  text-align: center;
}

.simple-list-back-button {
  display: block;
  padding: 8px 12px 8px 12px;
  border: 1px solid #cccccc;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.has-filter-overlay .simple-list-search-filter-overlay  {
  /* Cover circle menu toggle and bottom menu bar when filter overlay is active  */
  z-index: 1010;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

@media screen and (min-width: 640px) {
  .simple-list-back-button {
    display: inline-block;
  }
}

/* LIST ITEMS */
.simple-list-wrapper {
  padding: 15px 0 0;
}

.simple-list-item {
  cursor: pointer;
  border-bottom: 1px solid rgba(51,51,51,0.2);
  padding: 10px 24px 10px 86px;
  position: relative;
  min-height: 91px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.simple-list-item:last-child {
  border-bottom: none;
}

.simple-list-item.no-image {
  padding: 10px 44px 10px 0;
}

.simple-list-item .list-item-image {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -35px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.simple-list-item .list-item-title,
.simple-list-item .list-item-description,
.simple-list-item .list-item-subtitle {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

html.ie11 .simple-list-item .list-item-description {
  max-height: 4.4em;
}

.simple-list-item .list-item-title {
  font-size: 18px;
}

.simple-list-item .list-item-description {
  font-size: 16px;
  opacity: 0.7;
}

.simple-list-item .list-item-subtitle {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.4);
}

.list-item-description + .list-item-subtitle {
  margin-top: 0.5em;
}

.list-item-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  width: 24px;
  height: 44px;
  line-height: 44px;
  margin-top: -22px;
  font-size: 2em;
  text-align: right;
}

.loading-holder,
.no-results-holder,
.no-bookmarks-holder {
  text-align: center;
  color: #dddddd;
  cursor: default;
  padding: 15px 0 0;
}

.ready .loading-holder,
.loading .limit-entries-text,
.filtering .limit-entries-text,
.searching .limit-entries-text,
.no-results-holder,
.no-bookmarks-holder {
  display: none;
}

.simple-list-container .no-results ~ .no-results-holder,
.simple-list-container .no-bookmarks-holder.show {
  display: block;
}

/** OVERLAY **/
.dynamic-list-controls {
  display: none;
}

.simple-list-detail-overlay.open .dynamic-list-controls {
  display: block;
}

.simple-list-detail-overlay {
  position: fixed;
  top: 0;
  top: env(safe-area-inset-top);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1010;
  pointer-events: all;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-out;
  /*-webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);*/
}

.simple-list-detail-overlay.open {
  visibility: visible;
  opacity: 1;
  /*-webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);*/
}

.simple-list-detail-overlay .simple-list-detail-overlay-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
}

.simple-list-detail-overlay .simple-list-detail-overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.simple-list-detail-overlay .simple-list-detail-overlay-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border-radius: 0;
  overflow: hidden;
}

.simple-list-detail-overlay-panel .simple-list-detail-overlay-heading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #ffffff;
}

.simple-list-detail-overlay-heading .simple-list-detail-overlay-close {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 1.5em;
  cursor: pointer;
}

.simple-list-detail-overlay-heading .simple-list-detail-overlay-close.go-previous-screen {
  font-size: 2em;
}

.simple-list-detail-overlay-panel .simple-list-detail-overlay-content {
  height: 100%;
  overflow: auto;
  padding: 40px 15px 15px 15px;
  word-break: break-word;
}

.simple-list-detail-label {
  opacity: 0.5;
  font-size: 1em;
  margin-bottom: 4px;
}

.simple-list-detail-value {
  font-size: 1.15em;
  margin-bottom: 25px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.simple-list-detail-overlay-close.tablet {
  display: none;
}

/* COMMENTS */

.simple-list-comment-panel {
  position: fixed;
  top: 0;
  top: env(safe-area-inset-top);
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: #ffffff;
  z-index: 1010;
  cursor: default;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  transition: all 0.2s ease-out;
}

.simple-list-comment-panel.open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}

.simple-list-comment-panel .simple-list-comment-panel-header {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding: 15px 0;
  z-index: 5;
}

.simple-list-comment-panel .simple-list-comment-panel-title {
  margin: 0 auto;
  max-width: 250px;
  text-align: center;
  text-transform: uppercase;
}

.simple-list-comment-panel .simple-list-comment-close-panel {
  position: absolute;
  right: 0;
  top: 0;
  width: 54px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}

.simple-list-comment-panel .comments-offline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(51, 51, 51, 0.4);
  padding: 6px 0;
  z-index: 4;
  text-align: center;
  transition: top 0.2s ease-out;
}

.simple-list-comment-panel.offline .comments-offline {
  top: 54px;
}

.simple-list-comment-panel .simple-list-comment-area {
  height: calc(100% - 159px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 15px;
  margin: 54px 0 105px;
  padding-bottom: env(safe-area-inset-bottom);
  z-index: 1;
}

[data-has-notch].platform-web .simple-list-comment-panel .simple-list-comment-area {
  padding-bottom: calc(109px + 34px); /* For Fliplet Studio */
}

.simple-list-comment-panel.typing .simple-list-comment-area {
  padding-bottom: 0;
}

.simple-list-comment-panel .simple-list-comment-input-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 15px 15px 15px;
  padding-bottom: calc(15px + env(safe-area-inset-bottom));
  background: #ffffff;
  z-index: 3;
  border-top: 1px solid rgba(51,51,51,0.1);
}

[data-has-notch].platform-web .simple-list-comment-panel .simple-list-comment-input-holder {
  padding-bottom: calc(15px + 34px); /* For Fliplet Studio */
}

.simple-list-comment-panel.typing .simple-list-comment-input-holder{
  padding-bottom: 15px;
}

.simple-list-comment-panel.offline .simple-list-comment-input-holder .btn {
  pointer-events: none;
  opacity: 0.3;
}

.simple-list-comment-panel .simple-list-comment-input-holder .save,
.simple-list-comment-panel .simple-list-comment-input-holder .cancel,
.simple-list-comment-panel .simple-list-comment-input-holder.editing .comment {
  display: none;
}

.simple-list-comment-panel .simple-list-comment-input-holder.editing .save,
.simple-list-comment-panel .simple-list-comment-input-holder.editing .cancel,
.simple-list-comment-panel .simple-list-comment-input-holder .comment {
  display: block;
}

.simple-list-comment-panel .simple-list-comment-input-holder .cancel,
.simple-list-comment-panel .simple-list-comment-input-holder .cancel:hover,
.simple-list-comment-panel .simple-list-comment-input-holder .cancel:focus,
.simple-list-comment-panel .simple-list-comment-input-holder .cancel:active:hover,
.simple-list-comment-panel .simple-list-comment-input-holder .cancel:active:focus {
  margin-right: 10px;
  color: rgba(51,51,51,0.7);
}

.simple-list-comment-panel .simple-list-comment-input-holder .btn.comment,
.simple-list-comment-panel .simple-list-comment-input-holder .btn.save {
  border: 1px solid rgba(51,51,51,0.3);
  background-color: transparent;
  color: rgba(51,51,51,0.3);
  pointer-events: none;
}

.simple-list-comment-panel .simple-list-comment-input-holder .btn.comment:active,
.simple-list-comment-panel .simple-list-comment-input-holder.btn.comment:focus,
.simple-list-comment-panel .simple-list-comment-input-holder .btn.save:active,
.simple-list-comment-panel .simple-list-comment-input-holder .btn.save:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.simple-list-comment-panel .simple-list-comment-input-holder.ready .btn.save,
.simple-list-comment-panel .simple-list-comment-input-holder.ready .btn.comment {
  border: 1px solid #337ab7;
  background-color: #337ab7;
  color: #ffffff;
  pointer-events: all;
}

.simple-list-comment-panel .input-second-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
}

.simple-list-comment-panel .fl-individual-comment {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: 0 -15px 20px;
}

.simple-list-comment-panel .top-comment-holder {
  position: relative;
  width: 100%;
  z-index: 2;
  padding: 0 15px 0 69px;
  background-color: #ffffff;
}

.simple-list-comment-panel .fl-individual-comment.editing .top-comment-holder {
  background-color: rgba(51, 51, 51, 0.08);
}

.simple-list-comment-panel .loading-comment {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.2;
}

.simple-list-comment-panel .fl-comment-thumb {
  position: absolute;
  left: 15px;
  top: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #e9e9e9;
  overflow: hidden;
}

.simple-list-comment-panel .fl-comment-thumb .fl-comment-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  z-index: 2;
}

.simple-list-comment-panel .fl-comment-thumb .fa {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 44px;
  text-align: center;
  font-size: 24px;
  opacity: 0.2;
  z-index: 1;
}

.simple-list-comment-panel .fl-comment-user {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  display: flex;
  align-items: center;
}

.simple-list-comment-panel .fl-comment-user .separator {
  margin: 0 10px;
  font-size: 6px;
  opacity: 0.4;
}

.simple-list-comment-panel .fl-comment-user span {
  font-weight: normal;
  font-size: 14px;
  opacity: 0.5;
}

.simple-list-comment-panel .fl-comment-value {
  cursor: pointer;
}

.simple-list-comment-panel textarea[data-comment-body] {
  resize: none;
  font-size: 16px;
  max-height: 155px;
  word-wrap: break-word;
  overflow: auto;
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  border: none;
  background-color: transparent;
  color: #333333;
}

.simple-list-comment-panel textarea[data-comment-body]:focus,
.simple-list-comment-panel textarea[data-comment-body]:active:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.simple-list-comment-panel textarea[data-comment-body] ~ .typeahead.dropdown-menu {
  top: auto !important;
  bottom: 100px;
  left: 0 !important;
  right: 0;
  box-shadow: none;
  border-radius: 0;
  border: none;
  border-top: 1px solid rgba(51,51,51,0.1);
}

.simple-list-comment-panel textarea[data-comment-body] ~ .typeahead.dropdown-menu > .active > a {
  background-color: #337ab7;
  color: #ffffff;
}

.typeahead.dropdown-menu li a {
  display: flex;
  align-items: center;
}

.mention_name{
  font-size: 12px;
}

.mention_username{
  font-size: 12px;
  opacity: 0.5;
  margin-left: 5px;
}

.mention_image{
  float: left;
  margin-right: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 20px;
}

.active .mention_username{
  color: #ffffff;
}

.simple-list-container .simple-list-social-holder .simple-list-like-wrapper,
.simple-list-detail-overlay .simple-list-overlay-social-holder .simple-list-like-wrapper,
.simple-list-container .simple-list-social-holder .simple-list-bookmark-holder,
.simple-list-detail-overlay .simple-list-overlay-social-holder .simple-list-bookmark-holder,
.simple-list-container .simple-list-social-holder .simple-list-comment-holder,
.simple-list-detail-overlay .simple-list-overlay-social-holder .simple-list-comment-holder {
  position: relative;
  cursor: pointer;
}

.simple-list-container .simple-list-bookmark-holder,
.simple-list-detail-overlay .simple-list-bookmark-holder {
  margin-left: 15px;
}

.simple-list-container .simple-list-comment-holder,
.simple-list-detail-overlay .simple-list-comment-holder {
  margin-left: 10px;
}

.simple-list-container .simple-list-comment-holder .count:empty ~ i,
.simple-list-detail-overlay .simple-list-comment-holder .count:empty ~ i {
  margin-left: 5px;
}

.simple-list-container .simple-list-like-holder .fa,
.simple-list-container .simple-list-like-wrapper .fa,
.simple-list-container .simple-list-bookmark-holder .fa,
.simple-list-container .simple-list-bookmark-wrapper .fa,
.simple-list-container .simple-list-comment-holder .fa,
.simple-list-container .simple-list-comment-holder span,
.simple-list-detail-overlay .simple-list-like-holder .fa,
.simple-list-detail-overlay .simple-list-like-wrapper .fa,
.simple-list-detail-overlay .simple-list-bookmark-holder .fa,
.simple-list-detail-overlay .simple-list-bookmark-wrapper .fa,
.simple-list-detail-overlay .simple-list-comment-holder .fa,
.simple-list-detail-overlay .simple-list-comment-holder span {
  color: rgba(51, 51, 51, 0.5);
}

.simple-list-detail-overlay .simple-list-like-wrapper,
.simple-list-detail-overlay .simple-list-bookmark-wrapper {
  display: none;
}

.simple-list-detail-overlay .not-liked .simple-list-like-wrapper.btn-like,
.simple-list-detail-overlay .liked .simple-list-like-wrapper.btn-liked,
.simple-list-detail-overlay .not-bookmarked .simple-list-bookmark-wrapper.btn-bookmark,
.simple-list-detail-overlay .bookmarked .simple-list-bookmark-wrapper.btn-bookmarked {
  display: block;
}

.simple-list-container .simple-list-comment-holder .fa-comment-o,
.simple-list-detail-overlay .simple-list-comment-holder .fa-comment-o {
  line-height: 0;
}

.simple-list-container .simple-list-social-holder .simple-list-comment-holder .comment-label {
  display: none;
}

.simple-list-container .simple-list-item .simple-list-social-holder,
.simple-list-detail-overlay .simple-list-overlay-social-holder {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
}

.simple-list-container .simple-list-item .simple-list-social-holder {
  margin-top: 10px;
}

.simple-list-detail-overlay .simple-list-overlay-inner-holder.has-edit-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.simple-list-container .simple-list-like-wrapper .fa-heart,
.simple-list-detail-overlay .simple-list-like-wrapper .fa-heart {
  color: #ed4956;
}

.simple-list-container .simple-list-bookmark-wrapper .fa-bookmark,
.simple-list-detail-overlay .simple-list-bookmark-wrapper .fa-bookmark {
  color: #337ab7;
}

.simple-list-container .simple-list-like-wrapper span,
.simple-list-container .simple-list-comment-holder span.count,
.simple-list-detail-overlay .simple-list-like-wrapper span,
.simple-list-detail-overlay .simple-list-comment-holder span.count {
  opacity: 0.3;
  font-size: 12px;
  line-height: 24px;
  margin-right: 4px;
}

.simple-list-detail-overlay .simple-list-detail-overlay-panel {
  z-index: 1;
}

.simple-list-container .simple-list-comment-holder span.count,
.simple-list-detail-overlay .simple-list-comment-holder span.count {
  margin-right: 0;
}

.simple-list-comment-holder i.comment-placeholder {
  margin-left: 5px;
}

@media screen and (min-width: 640px) {
  .simple-list-detail-overlay .simple-list-detail-overlay-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 40px 0;
    z-index: 1;
  }

  .simple-list-detail-overlay .simple-list-detail-overlay-panel {
    position: relative;
    max-width: 600px;
    margin: auto auto;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }

  .simple-list-detail-overlay-panel .simple-list-detail-overlay-content {
    padding: 40px;
  }
}

.simple-list-container.loading .simple-list-wrapper {
  opacity: 0;
}

.simple-list-container.ready .simple-list-wrapper {
  opacity: 1;
}


.simple-list-detail-overlay-close .fa-times-thin {
  padding-top: 2px;
  padding-bottom: 4px;
  font-size: 0.8em !important;
}

.simple-list-detail-overlay-close .fa-times-thin::before {
  content: '\002573';
}

/* IE11 layout */
@media screen and (-ms-high-contrast: none) {
  .simple-list-detail-overlay-close .fa-times-thin {
    padding-top: 0px;
    padding-bottom: 5px;
  }

  .simple-list-detail-overlay-close .win7.fa-times-thin {
    padding-top: 2px;
    padding-bottom: 1px;
    font-weight: lighter;
    font-size: 1.2em !important;
  }

  .simple-list-detail-overlay-close .win7.fa-times-thin::before {
    content: '\2715';
  }

}

/* Safari layout */
@media not all and (min-resolution:.001dpcm) {
  @media {
    .simple-list-detail-overlay-close .fa-times-thin {
      padding-top: 1px;
      padding-bottom: 0px;
    }
  }
}

/* For native devices */
.native.android .simple-list-detail-overlay-close .fa-times-thin {
  padding-top: 5px;
}

.native.ios .simple-list-detail-overlay-close .fa-times-thin {
  padding-top: 1px;
}

.mode-interact [data-dynamic-lists-id] {
  min-height: 32px;
}

/* For MS Edge */
@supports (-ms-ime-align:auto) {
  .simple-list-detail-overlay-close .fa-times-thin {
    padding-top: 1px;
    padding-bottom: 3px;
  }
}

/* For Firefox */
@-moz-document url-prefix() {
  .simple-list-detail-overlay-close .fa-times-thin {
    padding-top: 2px;
    padding-bottom: 5px;
  }

  .no-windows .simple-list-detail-overlay-close .fa-times-thin {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

/* For Android Chrome browser*/
.android.no-native .simple-list-detail-overlay-close .fa-times-thin {
  padding-top: 2px;
  padding-bottom: 2px;
}
