.mode-interact .small-card-list-container {
  pointer-events: none;
}

*.lock {
  overflow: hidden;
}

/* User profile */
.my-profile-container {
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.my-profile-container.disabled,
.loading .my-profile-container {
  display: none;
  pointer-events: none;
}

.my-profile-icon {
  width: 35px;
  min-width: 35px;
  height: 35px;
  min-height: 35px;
  color: rgba(51,51,51,0.4);
  border: 1px solid rgba(51,51,51,0.2);
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 1.8em;
}

.profile-image {
  width: 35px;
  min-width: 35px;
  height: 35px;
  min-height: 35px;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}

.my-profile-placeholder {
  width: 100%;
  height: 0;
  position: relative;
  line-height: 24px;
}

.my-profile-text {
  font-size: 10px;
  opacity: 0.6;
  margin: 5px 0 0 0;
  text-transform: uppercase;
}

/* SEARCH / FILTERS */
.section-top-wrapper {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-search-icon {
  cursor: pointer;
}

.list-search-icon .fa {
  display: inline-block;
  opacity: 0.3;
  font-size: 20px;
  width: 35px;
  height: 35px;
  text-align: right;
  line-height: 35px;
}

.list-search-icon .fa-search.active,
.list-search-icon .fa-filter.active {
  display: none;
}

.list-search-cancel {
  display: inline-block;
  opacity: 0;
  font-size: 20px;
  padding-left: 0;
  padding-right: 0;
}

.small-card-list-container .fa-times {
  text-decoration: none;
}

.list-search-cancel.active {
  opacity: 1;
}

.hidden-filter-controls {
  height: 0;
  overflow: hidden;
}

.hidden-filter-controls-content {
  padding-bottom: 15px;
}

.hidden-filter-controls-search {
  padding: 15px 0;
}

.search-holder {
  width: 100%;
  position: relative;
}

.search-holder .fa {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #337ab7;
  width: 38px;
  height: 100%;
  font-size: 1.2em;
  line-height: 38px;
  text-align: center;
}

.search-holder .form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 8px 15px 8px 40px;
  height: auto;
}

.search-holder .form-control:focus {
  border-color: #337ab7;
}

.hidden-filter-controls-search .search-query-holder {
  width: 100%;
  display: none;
  align-items: center;
}

.search-results .hidden-filter-controls-search .search-query-holder,
.is-searching .hidden-filter-controls-search .search-query-holder {
  display: block;
}

.search-results .hidden-filter-controls-search .search-holder,
.is-searching .hidden-filter-controls-search .search-holder {
  display: none;
}

.current-query-wrapper {
  background-color: #337ab7;
  border: 1px solid #337ab7;
  cursor: pointer;
  color: #ffffff;
  padding: 8px 15px 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 1;
}

.current-query-wrapper .clear-search {
  width: 40px;
  margin-left: 10px;
  text-align: right;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.hidden-filter-controls-label {
  font-size: 14px;
  color: #aaaaaa;
  padding-bottom: 5px;
}

.hidden-filter-controls-filter-container + .hidden-filter-controls-label {
  padding-top: 10px;
}

.hidden-filter-controls-label span {
  font-weight: bold;
  text-transform: capitalize;
}

.hidden-filter-controls-filter-container {
  width: 100%;
  display: flex;
}

.hidden-filter-controls-filter-wrapper {
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
}

.hidden-filter-controls-filter {
  width: auto;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  padding: 8px 15px;
  margin: 0 5px 0 0;
  font-size: 14px;
}

.hidden-filter-controls-filter.mixitup-control-active {
  background-color: #337ab7;
  color: #ffffff;
  border-color: #337ab7;
}

.hidden-filter-controls-filter:last-child {
  margin: 0;
}

/* List */
.small-card-list-wrapper {
  padding: 15px 0;
  padding-bottom: calc(15px + env(safe-area-inset-bottom));
  outline: none;
  display: none;
}

.ready .small-card-list-wrapper {
  display: block;
}

.small-card-list-wrapper:focus {
  outline: none;
}

.loading-data {
  padding-top: 25px;
  display: block;
  text-align: center;
  color: #ddd;
}

.ready .loading-data {
  display: none;
}

.small-card-list-item {
  width: 100%;
  height: 80px;
  margin: 0 0 15px 0;
  display: flex;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: box-shadow 0.15s ease-out;
}

.no-touchevents .small-card-list-item:active,
.no-touchevents .small-card-list-item:focus,
.no-touchevents .small-card-list-item:active:focus,
.small-card-list-item.hover {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.small-card-list-image {
  width: 60px;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.small-card-list-image .small-card-list-detail-image {
  border-radius: 15px 0 0 15px;
}

.small-card-list-image .small-card-list-detail-wrapper.open .small-card-list-detail-image {
  border-radius: 0;
}

.small-card-list-text-wrapper {
  height: 100%;
  padding: 0 0 0 15px;
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.small-card-list-name {
  color: #333333;
  font-size: 16px;
  font-weight: 700;
}

.small-card-list-role {
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}

.small-card-list-location {
  color: #333333;
  opacity: 0.5;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.6;
}

.small-card-list-detail-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(51,51,51,0.1);
  background-color: rgba(51,51,51,0.04);
}

.small-card-list-detail-image-wrapper .fa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

.open .small-card-list-detail-image-wrapper .fa {
  font-size: 8em;
}

/* DIRECTORY DETAIL VIEW */

.small-card-list-detail-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.small-card-list-detail-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: center;
  background-size: cover;
}

.small-card-list-detail-image.open {
  width: 100vw;
  height: 100vw;
}

.small-card-list-detail-close-btn {
  opacity: 0;
  position: absolute;
  right: 15px;
  top: 15px;
  height: 28px;
  width: 28px;
  line-height: 27px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  color: #333333;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
  z-index: 13;
  pointer-events: none;
}

.small-card-list-detail-close-btn.open {
  opacity: 1;
  pointer-events: all;
}

.small-card-list-detail-content-scroll-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100vw;
  z-index: 12;
  overflow: auto;
  transition: all 0.2s ease-out;
}

.small-card-list-detail-content-scroll-wrapper.open {
  height: 100%;
}

.small-card-list-detail-content-wrapper {
  top: calc(100vw - 20px);
  position: relative;
  background-color: #ffffff;
  border-radius: 20px 20px 0 0;
  width: 100%;
  padding: 40px 15px 20px 15px;
  padding-bottom: calc(20px + env(safe-area-inset-bottom));
}

.small-card-list-detail-edit-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  height: 60px;
  width: 60px;
  opacity: 0.3;
}

.small-card-list-detail-name {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 1.3;
  color: #333333;
  font-weight: 700;
  word-wrap: break-word;
  position: relative;
}

.small-card-list-detail-name:after {
  content: '';
  display: block;
  width: 60%;
  height: 4px;
  background-color: #337ab7;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.small-card-list-detail-role {
  margin: 0 0 5px 0;
  font-size: 24px;
  color: #333333;
  opacity: 0.6;
  font-weight: 500;
}

.small-card-list-detail-location {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: #333333;
  opacity: 0.4;
  font-weight: 500;
}

.small-card-list-detail-buttons-wrapper {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.small-card-list-detail-button {
  width: 60px;
  margin: 0 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.small-card-list-detail-button a,
.small-card-list-detail-button a:hover,
.small-card-list-detail-button a:focus
.small-card-list-detail-button a:active,
.small-card-list-detail-button a:active:hover,
.small-card-list-detail-button a:active:focus {
  color: #333333;
  text-decoration: none;
}

.small-card-list-detail-button .send-message {
  cursor: pointer;
}

.small-card-list-detail-button-image {
  opacity: 0.3;
  text-align: center;
  font-size: 35px;
}

.small-card-list-detail-button-text {
  font-size: 10px;
  text-align: center;
  opacity: 0.5;
}

.small-card-list-detail-label {
  font-size: 12px;
  opacity: 0.5;
  text-transform: uppercase;
  margin: 20px 0 0 0;
}