.mode-interact .new-small-h-card-list-container {
  pointer-events: none;
}

.lock {
  overflow: hidden !important;
}

/* List */
.new-small-h-card-list-container .loading-data {
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
  text-align: center;
  color: #333333;
  opacity: 0.5;
}

.new-small-h-card-list-container.ready .loading-data {
  display: none;
}

.new-small-h-card-list-container .small-h-card-list-wrapper {
  width: 100%;
  min-height: 156px;
  margin: 15px 0 40px 0;
  display: none;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.new-small-h-card-list-container.ready .small-h-card-list-wrapper {
  display: flex;
}

.lock .new-small-h-card-list-container .small-h-card-list-wrapper {
  overflow-x: visible;
}

.new-small-h-card-list-container .small-h-card-list-item {
  padding: 0 0 0 15px;
  width: auto;
  cursor: pointer;
}

.new-small-h-card-list-container .small-h-card-list-item:first-child {
  padding: 0;
}

.new-small-h-card-list-container .small-h-card-list-image {
  width: 100px;
  height: 120px;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
  margin: 0 0 10px 0;
  cursor: pointer;
  position: relative;
}

.lock .new-small-h-card-list-container .small-h-card-list-image {
  cursor: pointer;
}

.new-small-h-card-list-container .small-h-card-list-image .small-h-card-list-detail-image,
.new-small-h-card-list-container .small-h-card-list-image .small-h-card-list-detail-wrapper {
  border-radius: 15px;
}

.new-small-h-card-list-container .small-h-card-list-image .small-h-card-list-detail-wrapper.open .small-h-card-list-detail-image,
.new-small-h-card-list-container .small-h-card-list-image .small-h-card-list-detail-wrapper.open {
  border-radius: 0;
}

.new-small-h-card-list-container .small-h-card-list-item-text {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
  text-align: center;
  line-height: 1.3;
  text-transform: uppercase;
}

.no-touchevents .new-small-h-card-list-container .small-h-card-list-item:active .small-h-card-list-image,
.no-touchevents .new-small-h-card-list-container .small-h-card-list-item:focus .small-h-card-list-image,
.no-touchevents .new-small-h-card-list-container .small-h-card-list-item:active:focus .small-h-card-list-image,
.new-small-h-card-list-container .small-h-card-list-item.hover .small-h-card-list-image {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.new-small-h-card-list-container .small-h-card-list-image .small-h-card-list-detail-wrapper.open .small-h-card-list-detail-image {
  border-radius: 0;
}

.new-small-h-card-list-container .small-h-card-list-detail-image-wrapper,
.small-h-card-detail-wrapper .small-h-card-list-detail-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(51,51,51,0.1);
  background-color: rgba(51,51,51,0.04);
}

.small-h-card-detail-wrapper .small-h-card-list-detail-image-wrapper {
  height: 70vh;
}

.new-small-h-card-list-container .small-h-card-list-detail-image-wrapper .fa,
.small-h-card-detail-wrapper .small-h-card-list-detail-image-wrapper .fa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

.small-h-card-detail-wrapper .small-h-card-list-detail-image-wrapper .fa {
  height: 70vh;
}

.new-small-h-card-list-container .open .small-h-card-list-detail-image-wrapper .fa,
.small-h-card-detail-wrapper .small-h-card-list-detail-image-wrapper .fa {
  font-size: 8em;
}

/* DIRECTORY DETAIL VIEW */

.new-small-h-card-list-container .small-h-card-list-detail-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.new-small-h-card-list-container .small-h-card-list-detail-image,
.small-h-card-detail-wrapper .small-h-card-list-detail-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: center;
  background-size: cover;
}

.small-h-card-detail-wrapper .small-h-card-list-detail-image {
  height: 70vh;
}

.new-small-h-card-list-container .small-h-card-list-detail-image.open {
  width: 100vw;
  height: 70vh;
}

.new-small-h-card-list-container .small-h-card-list-detail-close-btn {
  opacity: 0;
  position: absolute;
  right: 15px;
  top: 15px;
  height: 38px;
  width: 38px;
  line-height: 36px;
  font-size: 24px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  color: #333333;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
  z-index: 13;
  pointer-events: none;
}

.new-small-h-card-list-container .small-h-card-list-detail-close-btn.open {
  opacity: 1;
  pointer-events: all;
}

.new-small-h-card-list-container .small-h-card-list-detail-content-scroll-wrapper,
.small-h-card-detail-wrapper .small-h-card-list-detail-content-scroll-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  z-index: 12;
  overflow: auto;
  transition: all 0.2s ease-out;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.new-small-h-card-list-container .small-h-card-list-detail-content-scroll-wrapper.open,
.small-h-card-detail-wrapper .small-h-card-list-detail-content-scroll-wrapper {
  height: 100%;
}

.new-small-h-card-list-container .small-h-card-list-detail-content-wrapper,
.small-h-card-detail-wrapper .small-h-card-list-detail-content-wrapper {
  top: calc(100vw - 20px);
  position: relative;
  background-color: #ffffff;
  border-radius: 20px 20px 0 0;
  width: 100%;
  padding: 40px 15px 20px 15px;
  padding-bottom: calc(20px + env(safe-area-inset-bottom));
}

[data-has-notch].platform-web .new-small-h-card-list-container .small-h-card-list-detail-content-wrapper,
[data-has-notch].platform-web .small-h-card-detail-wrapper .small-h-card-list-detail-content-wrapper {
  padding-bottom: calc(20px + 34px); /* For Fliplet Studio */
}

.small-h-card-detail-wrapper .small-h-card-list-detail-content-wrapper {
  top: 20px;
}

.small-h-card-detail-wrapper .small-h-card-list-detail-image-wrapper + .small-h-card-list-detail-content-scroll-wrapper .small-h-card-list-detail-content-wrapper {
  top: calc(100vw + 20px);
  transition: top 0.2s ease-out;
}

.small-h-card-detail-overlay.ready .small-h-card-detail-wrapper .small-h-card-list-detail-content-wrapper {
  top: 20px;
}

.small-h-card-detail-overlay.ready .small-h-card-detail-wrapper .small-h-card-list-detail-image-wrapper + .small-h-card-list-detail-content-scroll-wrapper .small-h-card-list-detail-content-wrapper {
  top: calc(100vw - 20px);
}

.new-small-h-card-list-container .small-h-card-list-detail-edit-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  height: 60px;
  width: 60px;
  opacity: 0.3;
}

.small-h-card-detail-overlay .small-h-card-list-detail-name {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 1.3;
  color: #333333;
  font-weight: 700;
  word-wrap: break-word;
  position: relative;
}

.small-h-card-detail-overlay .small-h-card-list-detail-name:after {
  content: '';
  display: block;
  width: 60%;
  height: 4px;
  background-color: #337ab7;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.small-h-card-detail-overlay .small-h-card-list-detail-role {
  margin: 0 0 5px 0;
  font-size: 24px;
  color: rgba(51, 51, 51, 0.6);
  font-weight: 500;
}

.small-h-card-detail-overlay .small-h-card-list-detail-location {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.4);
  font-weight: 500;
}

.small-h-card-detail-overlay .small-h-card-list-detail-buttons-wrapper {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.small-h-card-detail-overlay .small-h-card-list-detail-button {
  width: 60px;
  margin: 0 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.small-h-card-detail-overlay .small-h-card-list-detail-button a,
.small-h-card-detail-overlay .small-h-card-list-detail-button a:hover,
.small-h-card-detail-overlay .small-h-card-list-detail-button a:focus
.small-h-card-detail-overlay .small-h-card-list-detail-button a:active,
.small-h-card-detail-overlay .small-h-card-list-detail-button a:active:hover,
.small-h-card-detail-overlay .small-h-card-list-detail-button a:active:focus {
  color: #333333;
  text-decoration: none;
}

.small-h-card-detail-overlay .small-h-card-list-detail-button .send-message {
  cursor: pointer;
}

.small-h-card-detail-overlay .small-h-card-list-detail-button-image {
  color: rgba(51, 51, 51, 0.3);
  text-align: center;
  font-size: 35px;
}

.small-h-card-detail-overlay .small-h-card-list-detail-button-text {
  color: rgba(51, 51, 51, 0.5);
  font-size: 10px;
  text-align: center;
}

.small-h-card-detail-overlay .small-h-card-list-detail-label {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.5);
  text-transform: uppercase;
  margin: 20px 0 0 0;
}

.dynamic-list-controls {
  display: none;
}

.small-h-card-list-detail-wrapper.open .dynamic-list-controls {
  display: block;
}

.small-h-card-list-detail-wrapper .small-card-details-holder {
  display: none;
}

.small-h-card-list-detail-wrapper.open .small-card-details-holder {
  display: block;
}

@media screen and (min-width: 640px) {
  .new-small-h-card-list-container .small-h-card-list-image {
    width: 180px;
    height: 216px;
  }

  .new-small-h-card-list-container .small-h-card-list-detail-wrapper.open {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .new-small-h-card-list-container .small-h-card-list-detail-wrapper.open {
    padding: 40px 0;
    overflow: auto;
  }

  .new-small-h-card-list-container .open .small-h-card-list-detail-image-wrapper {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
  }

  .new-small-h-card-list-container .small-h-card-list-image .small-h-card-list-detail-wrapper.open .small-h-card-list-detail-image {
    border-radius: 20px 20px 0 0;
  }

  .new-small-h-card-list-container .small-h-card-list-detail-close-btn {
    position: fixed;
  }

  .new-small-h-card-list-container .small-h-card-list-detail-content-scroll-wrapper.open {
    height: auto;
    position: relative;
  }

  .new-small-h-card-list-container .open .small-h-card-list-detail-content-wrapper {
    top: auto;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
  }
}

/** OVERLAY **/
.small-h-card-detail-overlay.open .dynamic-list-controls {
  display: block;
}

.small-h-card-detail-overlay {
  position: fixed;
  top: 0;
  top: env(safe-area-inset-top);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1010;
  pointer-events: all;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-out;
  /*-webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);*/
}

.small-h-card-detail-overlay.open {
  visibility: visible;
  opacity: 1;
  /*-webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);*/
}

.small-h-card-detail-overlay .small-h-card-detail-overlay-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
}

.small-h-card-detail-overlay .small-h-card-detail-overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.small-h-card-detail-overlay .small-h-card-detail-overlay-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border-radius: 0;
  overflow: hidden;
}

.small-h-card-detail-overlay-panel .small-h-card-detail-overlay-heading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent !important;
}

.small-h-card-detail-overlay-wrapper .small-h-card-detail-overlay-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 15px;
  height: 38px;
  width: 38px;
  line-height: 38px;
  font-size: 24px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  color: #333333;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
  z-index: 13;
}

.small-h-card-detail-overlay-wrapper .small-h-card-detail-overlay-close.go-previous-screen {
  font-size: 2em;
}

.small-h-card-detail-overlay-panel .small-h-card-detail-overlay-content {
  height: 100%;
  overflow: auto;
  padding: 40px 15px 15px 15px;
  word-break: break-word;
}

.small-h-card-detail-label {
  opacity: 0.5;
  font-size: 1em;
  margin-bottom: 4px;
}

.small-h-card-detail-value {
  font-size: 1.15em;
  margin-bottom: 25px;
}

.small-h-card-detail-overlay-close.tablet {
  display: none;
}

.small-h-card-detail-overlay .small-h-card-detail-overlay-panel {
  z-index: 1;
}

@media screen and (min-width: 640px) {
  .small-h-card-detail-overlay .small-h-card-detail-overlay-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 40px 0;
    z-index: 1;
  }

  .small-h-card-detail-overlay .small-h-card-detail-overlay-panel {
    position: relative;
    max-width: 600px;
    margin: auto auto;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    border-radius: 20px;
  }

  .small-h-card-detail-wrapper .small-h-card-list-detail-image-wrapper {
    position: relative;
    width: auto;
  }

  .small-h-card-detail-overlay-panel .small-h-card-detail-overlay-content,
  .small-h-card-detail-wrapper .small-h-card-list-detail-content-wrapper {
    padding: 0;
  }

  .small-h-card-detail-wrapper .small-h-card-list-detail-content-wrapper,
  .small-h-card-detail-overlay.ready .small-h-card-detail-wrapper .small-h-card-list-detail-content-wrapper,
  .small-h-card-detail-wrapper .small-h-card-list-detail-image-wrapper + .small-h-card-list-detail-content-scroll-wrapper .small-h-card-list-detail-content-wrapper,
  .small-h-card-detail-overlay.ready .small-h-card-detail-wrapper .small-h-card-list-detail-image-wrapper + .small-h-card-list-detail-content-scroll-wrapper .small-h-card-list-detail-content-wrapper {
    top: 0;
    padding: 20px 15px;
  }

  .small-h-card-detail-overlay.ready .small-h-card-detail-wrapper .small-h-card-list-detail-image-wrapper + .small-h-card-list-detail-content-scroll-wrapper .small-h-card-list-detail-content-wrapper {
    padding: 40px;
    border-radius: 0;
  }

  .small-h-card-detail-wrapper .small-h-card-list-detail-content-scroll-wrapper {
    position: relative;
  }

  .small-h-card-detail-overlay .small-h-card-detail-wrapper .small-h-card-list-detail-image-wrapper ~ .small-h-card-list-detail-content-scroll-wrapper .small-h-card-list-detail-content-wrapper {
    padding: 40px;
  }
}

.small-h-card-detail-overlay-wrapper .small-h-card-detail-overlay-close .fa-times-thin {
  padding-top: 2px;
  padding-bottom: 4px;
  font-size: 0.8em !important;
}

.small-h-card-detail-overlay-wrapper .small-h-card-detail-overlay-close .fa-times-thin::before {
  content: '\002573';
}

/* IE11 layout */
@media screen and (-ms-high-contrast: none) {
  .small-h-card-detail-overlay-wrapper .small-h-card-detail-overlay-close .fa-times-thin {
    padding-top: 0px;
    padding-bottom: 5px;
  }

  .small-h-card-detail-overlay-wrapper .small-h-card-detail-overlay-close .win7.fa-times-thin {
    padding-top: 2px;
    padding-bottom: 1px;
    font-weight: lighter;
    font-size: 1.2em !important;
  }

  .small-h-card-detail-overlay-wrapper .small-h-card-detail-overlay-close .win7.fa-times-thin::before {
    content: '\2715';
  }

}

/* Safari layout */
@media not all and (min-resolution:.001dpcm) {
  @media {
    .small-h-card-detail-overlay-wrapper .small-h-card-detail-overlay-close .fa-times-thin {
      padding-top: 1px;
      padding-bottom: 0px;
    }
  }
}

/* For native devices */
.native.android .small-h-card-detail-overlay-wrapper .small-h-card-detail-overlay-close .fa-times-thin {
  padding-top: 5px;
}

.native.ios .small-h-card-detail-overlay-wrapper .small-h-card-detail-overlay-close .fa-times-thin {
  padding-top: 1px;
}

.mode-interact [data-dynamic-lists-id] {
  min-height: 32px;
}

/* For MS Edge */
@supports (-ms-ime-align:auto) {
  .small-h-card-detail-overlay-wrapper .small-h-card-detail-overlay-close .fa-times-thin {
    padding-top: 1px;
    padding-bottom: 3px;
  }
}

/* For Firefox */
@-moz-document url-prefix() {
  .small-h-card-detail-overlay-wrapper .small-h-card-detail-overlay-close .fa-times-thin {
    padding-top: 2px;
    padding-bottom: 5px;
  }

  .no-windows .small-h-card-detail-overlay-wrapper .small-h-card-detail-overlay-close .fa-times-thin {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

/* For Android Chrome browser*/
.android.no-native .small-h-card-detail-overlay-wrapper .small-h-card-detail-overlay-close .fa-times-thin {
  padding-top: 2px;
  padding-bottom: 2px;
}
