.mode-interact .new-small-card-list-container {
  pointer-events: none;
}

.lock {
  overflow: hidden !important;
}

/* SEARCH FILTER OVERLAY */
.new-small-card-list-container .small-card-search-filter-overlay {
  position: fixed;
  top: 0;
  top: env(safe-area-inset-top);
  right: 0;
  left: 0;
  z-index: 11;
  background-color: transparent;
  transform: translate3d(100%, 0, 0);
  transition: all 0.2s ease-out;
  height: 100vh;
  padding-bottom: env(safe-area-inset-top);
}

.new-small-card-list-container .small-card-search-filter-overlay.display {
  transform: translate3d(0, 0, 0);
}

.new-small-card-list-container .small-card-search-filter-overlay .small-card-overlay-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.new-small-card-list-container .small-card-search-filter-overlay .small-card-overlay-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #232b3f;
  color: #fff;
}

.new-small-card-list-container .small-card-search-filter-overlay .small-card-overlay-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  padding-right: 15px;
  font-size: 1.2em;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #232b3f;
  z-index: 2;
}

.small-card-overlay-header .filter-header-holder {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 5px;
}

.filter-header-holder .filter-header-btn-controls {
  text-transform: none;
}

.apply-filters {
  border: 1px solid #337ab7;
  border-radius: 20px;
  padding: 6px 14px;
  background-color: #337ab7;
}

.clear-filters {
  padding: 6px 14px;
}

.clear-filters:hover,
.apply-filters:hover,
.clear-filters:focus,
.apply-filters:focus,
.clear-filters:active,
.apply-filters:active,
.clear-filters:active:hover,
.apply-filters:active:hover,
.clear-filters:active:focus,
.apply-filters:active:focus {
  color: #fff;
  box-shadow: none;
}

.new-small-card-list-container .small-card-search-filter-overlay .small-card-overlay-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 44px;
  padding: 15px;
  padding-bottom: calc(15px + env(safe-area-inset-bottom));
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

[data-has-notch].platform-web .new-small-card-list-container .small-card-search-filter-overlay .small-card-overlay-content {
  padding-bottom: calc(15px + 34px); /* For Fliplet Studio */
}

.new-small-card-list-container .small-card-search-filter-overlay .small-card-overlay-close {
  width: 44px;
  height: 44px;
  padding-left: 15px;
  margin-left: 3px;
  font-size: 1.8em;
  line-height: 44px;
  z-index: 1;
  cursor: pointer;
}

.new-small-card-list-container .small-card-search-filter-overlay .hidden-filter-controls,
.new-small-card-list-container .small-card-search-filter-overlay .hidden-search-controls {
  height: auto;
  overflow: initial;
  margin: 0;
}

.new-small-card-list-container .small-card-search-filter-overlay .hidden-filter-controls-search {
  padding: 15px 0;
}

.new-small-card-list-container .small-card-search-filter-overlay .current-query-wrapper {
  position: relative;
  background-color: #337ab7;
  border: 1px solid #337ab7;
  color: #ffffff;
  padding: 8px 34px 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 1;
}

.new-small-card-list-container .small-card-search-filter-overlay .current-query-wrapper .clear-search {
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.new-small-card-list-container .small-card-search-filter-overlay .hidden-filter-controls-filter {
  width: auto;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  padding: 8px 15px;
  margin: 10px 5px 10px 0;
  font-size: 14px;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.new-small-card-list-container .small-card-search-filter-overlay .hidden-filter-controls-filter:hover,
.new-small-card-list-container .small-card-search-filter-overlay .hidden-filter-controls-filter:focus {
  color: rgba(255 ,255, 255, 0.7);
}

.new-small-card-list-container .small-card-search-filter-overlay .hidden-filter-controls-filter.mixitup-control-active {
  background-color: #337ab7;
  color: #ffffff;
  border-color: #337ab7;
}

.new-small-card-list-container .small-card-search-filter-overlay .hidden-filter-controls-filter:last-child {
  margin: 0;
}

.new-small-card-list-container .filters-header {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.new-small-card-list-container .small-card-search-filter-overlay .filter-holder {
  margin: 0 -15px;
}

.new-small-card-list-container .filter-holder .panel-group .panel {
  border: none;
  border-radius: 0;
  background-color: #364363;
  margin-top: 1px;
}

.new-small-card-list-container .filter-holder .panel-group .panel:first-child {
  margin-top: 0;
}

.new-small-card-list-container .filter-holder .panel-default > .panel-heading {
  color: #ffffff;
  background-color: #232b3f;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 15px;
  cursor: pointer;
  position: relative;
}

.new-small-card-list-container .filter-holder .panel-default > .panel-heading h4 {
  font-weight: normal;
}

.new-small-card-list-container .filter-holder .panel-default > .panel-heading .fa {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -22px;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 1.5em;
}

.new-small-card-list-container .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: none;
}

/* User profile */
.new-small-card-list-container .my-profile-container {
  line-height: 1;
  text-align: center;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.new-small-card-list-container .profile-disabled .my-profile-container,
.new-small-card-list-container.loading .my-profile-container {
  display: none;
  pointer-events: none;
}

.new-small-card-list-container .my-profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  min-width: 45px;
  height: 45px;
  min-height: 45px;
  color: rgba(51,51,51,0.4);
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 1.8em;
}

.new-small-card-list-container .profile-image {
  width: 45px;
  min-width: 45px;
  height: 45px;
  min-height: 45px;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}

.new-small-card-list-container .my-profile-placeholder {
  width: 100%;
  height: 0;
  position: relative;
  line-height: 24px;
}

.new-small-card-list-container .my-profile-text {
  font-size: 16px;
}

/* SEARCH / FILTERS */
.new-small-card-list-container .section-top-wrapper {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.new-small-card-list-container .section-top-wrapper.profile-disabled {
  justify-content: flex-end;
}

.new-small-card-list-container .list-search-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.new-small-card-list-container .list-search-icon .fa {
  display: inline-block;
  font-size: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}

.new-small-card-list-container .list-search-icon .fa-search.active,
.new-small-card-list-container .list-search-icon .fa-sliders.active {
  display: none;
}

.new-small-card-list-container .list-search-cancel {
  display: none;
  font-size: 20px;
  padding-left: 0;
  padding-right: 0;
}

.new-small-card-list-container .fa-times {
  text-decoration: none;
}

.new-small-card-list-container .list-search-cancel.active {
  display: inline-block;
}

.new-small-card-list-container .hidden-filter-controls,
.new-small-card-list-container .hidden-search-controls {
  height: 0;
  overflow: hidden;
  margin: 0;
  position: relative;
}

.new-small-card-list-container .hidden-filter-controls-content {
  padding-bottom: 10px;
}

.new-small-card-list-container .hidden-filter-controls-search {
  padding: 18px;
}

.new-small-card-list-container .search-holder {
  width: 100%;
  position: relative;
}

.new-small-card-list-container .search-holder .fa {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #337ab7;
  width: 38px;
  height: 100%;
  font-size: 1.2em;
  line-height: 38px;
  text-align: center;
}

.search-holder .btn.search-btn {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 1px;
  right: 2px;
  font-size: 14px;
  height: 35px;
  line-height: 1.6;
  z-index: 1;
  border-radius: 40px;
  background-color: #eeeeee;
  color: #333333;
  border: none;
  padding: 8px 12px;
  transition: opacity 0.2s ease-out;
}

.search-holder .btn.search-btn:focus,
.search-holder .btn.search-btn:hover,
.search-holder .btn.search-btn:active:focus,
.search-holder .btn.search-btn:active:hover {
  border-radius: 40px;
}

.search-holder .search-feed:focus ~ .btn.search-btn,
.search-holder .search-feed:valid ~ .btn.search-btn {
  opacity: 1;
  pointer-events: all;
}

.search-holder .search-feed:focus ~ .btn.search-btn,
.search-holder .search-feed:focus ~ .btn.search-btn:hover,
.search-holder .search-feed:focus ~ .btn.search-btn:active,
.search-holder .search-feed:focus ~ .btn.search-btn:active:hover {
  border: none;
  background-color: #eeeeee;
}

.search-holder .btn.search-btn:hover,
.search-holder .btn.search-btn:active,
.search-holder .btn.search-btn:active:hover {
  border: none;
  background-color: #eeeeee;
}

.new-small-card-list-container .search-holder .search-btn.searching-btn {
  transition: all 0.15s ease-out;
  pointer-events: none;
}

.new-small-card-list-container .search-holder .search-btn.searching-btn,
.new-small-card-list-container.searching .search-holder .search-btn {
  display: none;
  transition: all 0.15s ease-out;
}

.new-small-card-list-container.searching .search-holder .search-btn.searching-btn {
  display: block;
  min-width: 38px;
  height: 100%;
}

.new-small-card-list-container .search-holder .form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 8px 77px 8px 40px;
  height: auto;
}

.new-small-card-list-container .search-holder .form-control:focus {
  border-color: #337ab7;
}

.new-small-card-list-container .hidden-filter-controls-search .search-query-holder {
  width: 100%;
  display: none;
  align-items: center;
  color: #aaaaaa;
  font-size: 14px;
}

.new-small-card-list-container .search-results .hidden-filter-controls-search .search-query-holder {
  display: block;
}

.new-small-card-list-container .current-query-wrapper {
  position: relative;
  background-color: #337ab7;
  border: 1px solid #337ab7;
  color: #ffffff;
  padding: 8px 34px 8px 15px;
  border-radius: 20px;
  line-height: 1;
}

.new-small-card-list-container .current-query {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 185px);
  display: inline-block;
  vertical-align: baseline;
}

.new-small-card-list-container .current-query-wrapper .clear-search {
  position: absolute;
  right: 0;
  top: -2px;
  width: 34px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.new-small-card-list-container .hidden-filter-controls-label {
  font-size: 14px;
  color: #aaaaaa;
  padding: 0 0 5px;
}

.new-small-card-list-container .hidden-filter-controls-filter-container + .hidden-filter-controls-label {
  padding-top: 10px;
}

.new-small-card-list-container .hidden-filter-controls-label span {
  font-weight: bold;
  text-transform: capitalize;
}

.new-small-card-list-container .hidden-filter-controls-filter-container {
  width: 100%;
  display: flex;
}

.new-small-card-list-container .hidden-filter-controls-filter-wrapper {
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.new-small-card-list-container .hidden-filter-controls-filter {
  width: auto;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  padding: 8px 15px;
  margin: 0 5px 7px 0;
  font-size: 14px;
}

.new-small-card-list-container .hidden-filter-controls-filter.mixitup-control-active {
  background-color: #337ab7;
  color: #ffffff;
  border-color: #337ab7;
}

.new-small-card-list-container .hidden-filter-controls-filter:last-child {
  margin-right: 15px;
}

.limit-entries-text {
  padding-top: 20px;
  text-align: center;
  opacity: 0.5;
}

.back-button-holder {
  text-align: center;
}

.small-card-back-button {
  display: block;
  padding: 8px 12px 8px 12px;
  border: 1px solid #cccccc;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
  .small-card-back-button {
    display: inline-block;
  }
}

/* List */
.new-small-card-list-container {
  margin: 0 auto;
  max-width: 600px;
  position: relative;
}

.new-small-card-list-container .small-card-list-wrapper {
  padding: 15px 0;
  outline: none;
  display: none;
}

.new-small-card-list-container .small-card-list-wrapper:empty {
  padding: 0;
}

.new-small-card-list-container.ready .small-card-list-wrapper {
  display: block;
}

.new-small-card-list-container .small-card-list-wrapper:focus {
  outline: none;
}

.new-small-card-list-container .no-results-holder,
.new-small-card-list-container .no-bookmarks-holder {
  display: none;
}

.new-small-card-list-container .loading-data,
.new-small-card-list-container .no-results ~ .no-results-holder,
.new-small-card-list-container .no-bookmarks-holder.show {
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
  text-align: center;
  color: #ddd;
}

.new-small-card-list-container.ready .loading-data,
.loading .limit-entries-text,
.filtering .limit-entries-text,
.searching .limit-entries-text {
  display: none;
}

.new-small-card-list-container .small-card-list-item {
  width: 100%;
  height: 80px;
  margin: 0 0 15px 0;
  display: flex;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: box-shadow 0.15s ease-out;
  position: relative;
}

.no-touchevents .new-small-card-list-container .small-card-list-item:active,
.no-touchevents .new-small-card-list-container .small-card-list-item:focus,
.no-touchevents .new-small-card-list-container .small-card-list-item:active:focus,
.new-small-card-list-container .small-card-list-item.hover {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.new-small-card-list-container .small-card-list-item.open {
  overflow: visible;
}

.new-small-card-list-container .small-card-list-image {
  width: 61px;
  height: 100%;
  margin: -1px 0 -1px -1px;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.new-small-card-list-container .small-card-list-item.opening .small-card-list-image {
  overflow: initial;
  -webkit-transform: none;
  transform: none;
}

.new-small-card-list-container .small-card-list-image.no-image {
  display: none;
}

.new-small-card-list-container .small-card-list-image .small-card-list-detail-image {
  border-radius: 15px 0 0 15px;
}

.new-small-card-list-container .small-card-list-image .small-card-list-detail-wrapper.open .small-card-list-detail-image {
  border-radius: 0;
}

.small-card-list-text-wrapper {
  width: calc(100% - 61px)
}

.small-card-list-name, .small-card-list-role, .small-card-list-location {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding-right: 15px
}

.new-small-card-list-container .small-card-list-text-wrapper {
  height: 100%;
  padding: 0 0 0 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ffffff;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.new-small-card-list-container .small-card-list-image.no-image + .small-card-list-text-wrapper {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.new-small-card-list-container .small-card-list-name {
  color: #333333;
  font-size: 16px;
  font-weight: 700;
}

.new-small-card-list-container .small-card-list-role {
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}

.new-small-card-list-container .small-card-list-location {
  color: rgba(51, 51, 51, 0.5);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.6;
}

.new-small-card-list-container .small-card-bookmark-holder {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 25px;
}

.small-card-list-detail-content-wrapper .small-card-bookmark-holder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  font-size: 25px;
}

.has-filter-overlay .new-small-card-list-container {
  /* Cover circle menu toggle and bottom menu bar when filter overlay is active  */
  z-index: 1010;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

@media screen and (min-width: 640px) {
  .small-card-list-detail-content-wrapper .small-card-bookmark-holder {
    top: -35px;
    padding: 0px;
  }
}

.new-small-card-list-container .small-card-bookmark-holder .fa-bookmark-o,
.small-card-list-detail-content-wrapper .small-card-bookmark-holder .fa-bookmark-o {
  color: rgba(51,51,51,0.2);
}

.new-small-card-list-container .small-card-bookmark-holder .fa-bookmark,
.small-card-list-detail-content-wrapper .small-card-bookmark-holder .fa-bookmark {
  color: #337ab7;
}

.small-card-detail-overlay .small-card-bookmark-wrapper {
  display: none;
}

.small-card-detail-overlay .not-bookmarked .small-card-bookmark-wrapper.btn-bookmark,
.small-card-detail-overlay .bookmarked .small-card-bookmark-wrapper.btn-bookmarked {
  display: block;
}

.new-small-card-list-container .small-card-list-detail-image-wrapper,
.small-card-detail-wrapper .small-card-list-detail-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: rgba(51,51,51,0.1);
  background-color: rgba(51,51,51,0.04);
}

.small-card-detail-wrapper .small-card-list-detail-image-wrapper {
  height: 70vh;
}

.new-small-card-list-container .small-card-list-detail-image-wrapper .fa,
.small-card-detail-wrapper .small-card-list-detail-image-wrapper .fa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

.small-card-detail-wrapper .small-card-list-detail-image-wrapper .fa {
  height: 70vh;
}

.new-small-card-list-container .open .small-card-list-detail-image-wrapper .fa,
.small-card-detail-wrapper .small-card-list-detail-image-wrapper .fa {
  font-size: 8em;
}

/* DIRECTORY DETAIL VIEW */

.new-small-card-list-container .small-card-list-detail-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: left;
  cursor: default;
  pointer-events: none;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.new-small-card-list-container .small-card-list-detail-image,
.small-card-detail-wrapper .small-card-list-detail-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: center;
  background-size: cover;
}

.small-card-detail-wrapper .small-card-list-detail-image {
  height: 70vh;
}

.new-small-card-list-container .small-card-list-detail-image.open {
  width: 100vw;
  height: 70vh;
}

.new-small-card-list-container .small-card-list-detail-content-scroll-wrapper,
.small-card-detail-wrapper .small-card-list-detail-content-scroll-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 12;
  overflow: auto;
  transition: all 0.2s ease-out;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.new-small-card-list-container .small-card-list-detail-content-scroll-wrapper.open,
.small-card-detail-wrapper .small-card-list-detail-content-scroll-wrapper {
  height: 100%;
}

.new-small-card-list-container .small-card-list-detail-content-wrapper,
.small-card-detail-wrapper .small-card-list-detail-content-wrapper {
  top: calc(100vw - 20px);
  position: relative;
  background-color: #ffffff;
  border-radius: 20px 20px 0 0;
  width: 100%;
  padding: 40px 15px 20px 15px;
  padding-bottom: calc(20px + env(safe-area-inset-bottom));
}

[data-has-notch].platform-web .new-small-card-list-container .small-card-list-detail-content-wrapper,
[data-has-notch].platform-web .small-card-detail-wrapper .small-card-list-detail-content-wrapper {
  padding-bottom: calc(20px + 34px); /* For Fliplet Studio */
}

.small-card-detail-wrapper .small-card-list-detail-content-wrapper {
  top: 0;
  padding-top: 60px;
}

.small-card-detail-wrapper .small-card-list-detail-image-wrapper + .small-card-list-detail-content-scroll-wrapper .small-card-list-detail-content-wrapper {
  top: calc(100vw + 20px);
  transition: top 0.2s ease-out;
}

.small-card-detail-overlay.ready .small-card-detail-wrapper .small-card-list-detail-content-wrapper {
  top: 0;
  padding-top: 60px;
}

.small-card-detail-overlay.ready .small-card-detail-wrapper .small-card-list-detail-image-wrapper + .small-card-list-detail-content-scroll-wrapper .small-card-list-detail-content-wrapper {
  top: calc(100vw - 20px);
}

.new-small-card-list-container .no-image .small-card-list-detail-content-wrapper {
  top: 0;
  padding-top: 60px;
}

.new-small-card-list-container .small-card-list-detail-edit-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  height: 60px;
  width: 60px;
  opacity: 0.3;
}

.small-card-detail-overlay .small-card-list-detail-name {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 1.3;
  color: #333333;
  font-weight: 700;
  word-wrap: break-word;
  position: relative;
}

.small-card-detail-overlay .small-card-list-detail-name:after {
  content: '';
  display: block;
  width: 60%;
  height: 4px;
  background-color: #337ab7;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.small-card-detail-overlay .small-card-list-detail-role {
  margin: 0 0 5px 0;
  font-size: 24px;
  color: rgba(51, 51, 51, 0.6);
  font-weight: 500;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.small-card-detail-overlay .small-card-list-detail-location {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.4);
  font-weight: 500;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.small-card-detail-overlay .small-card-list-detail-buttons-wrapper {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.small-card-detail-overlay .small-card-list-detail-button {
  width: 60px;
  margin: 0 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.small-card-detail-overlay .small-card-list-detail-button a,
.small-card-detail-overlay .small-card-list-detail-button a:hover,
.small-card-detail-overlay .small-card-list-detail-button a:focus
.small-card-detail-overlay .small-card-list-detail-button a:active,
.small-card-detail-overlay .small-card-list-detail-button a:active:hover,
.small-card-detail-overlay .small-card-list-detail-button a:active:focus {
  text-decoration: none;
}

.small-card-detail-overlay .small-card-list-detail-button .send-message {
  cursor: pointer;
}

.small-card-detail-overlay .small-card-list-detail-button-image {
  color: rgba(51, 51, 51, 0.3);
  text-align: center;
  font-size: 35px;
}

.small-card-detail-overlay .small-card-list-detail-button-text {
  color: rgba(51, 51, 51, 0.5);
  font-size: 10px;
  text-align: center;
}

.small-card-detail-overlay .small-card-list-detail-label {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.5);
  text-transform: uppercase;
  margin: 20px 0 0 0;
}

.dynamic-list-controls {
  display: none;
}

.small-card-list-detail-wrapper.open .dynamic-list-controls {
  display: block;
}

.small-card-list-item .small-card-details-holder {
  display: none;
}

.small-card-list-item.open .small-card-details-holder {
  display: block;
}

@media screen and (min-width: 640px) {
  .new-small-card-list-container .small-card-list-detail-wrapper.open {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .new-small-card-list-container .small-card-list-detail-wrapper.open {
    padding: 40px 0;
    overflow: auto;
  }

  .new-small-card-list-container .open .small-card-list-detail-image-wrapper {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
  }

  .new-small-card-list-container .small-card-list-image .small-card-list-detail-wrapper.open .small-card-list-detail-image {
    border-radius: 20px 20px 0 0;
  }

  .new-small-card-list-container .small-card-list-detail-content-scroll-wrapper.open {
    height: auto;
    position: relative;
  }

  .new-small-card-list-container .open .small-card-list-detail-content-wrapper {
    top: auto;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    padding: 40px;
  }

  .new-small-card-list-container .open .no-image .small-card-list-detail-content-wrapper {
    border-radius: 20px;
    padding-top: 40px;
  }
}

/** OVERLAY **/
.small-card-detail-overlay.open .dynamic-list-controls {
  display: block;
}

.small-card-detail-overlay {
  position: fixed;
  top: 0;
  top: env(safe-area-inset-top);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1010;
  pointer-events: all;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-out;
  /*-webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);*/
}

.small-card-detail-overlay.open {
  visibility: visible;
  opacity: 1;
  /*-webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);*/
}

.small-card-detail-overlay .small-card-detail-overlay-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
}

.small-card-detail-overlay .small-card-detail-overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.small-card-detail-overlay .small-card-detail-overlay-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border-radius: 0;
  overflow: hidden;
}

.small-card-detail-overlay-panel .small-card-detail-overlay-heading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent !important;
}

.small-card-detail-overlay-wrapper .small-card-detail-overlay-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 15px;
  height: 38px;
  width: 38px;
  line-height: 38px;
  font-size: 24px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  color: #333333;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
  z-index: 13;
}

.small-card-detail-overlay-wrapper .small-card-detail-overlay-close.go-previous-screen {
  font-size: 2em;
}

.small-card-detail-overlay-panel .small-card-detail-overlay-content {
  height: 100%;
  overflow: auto;
  padding: 40px 15px 15px 15px;
  word-break: break-word;
}

.small-card-detail-label {
  opacity: 0.5;
  font-size: 1em;
  margin-bottom: 4px;
}

.small-card-detail-value {
  font-size: 1.15em;
  margin-bottom: 25px;
}

.small-card-detail-overlay .small-card-detail-overlay-panel {
  z-index: 1;
}

.small-card-detail-overlay-close.tablet {
  display: none;
}

@media screen and (min-width: 640px) {
  .small-card-detail-overlay .small-card-detail-overlay-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 40px 0;
    z-index: 1;
  }

  .small-card-detail-overlay .small-card-detail-overlay-panel {
    position: relative;
    max-width: 600px;
    margin: auto auto;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    border-radius: 20px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .small-card-detail-wrapper .small-card-list-detail-image-wrapper {
    position: relative;
    width: auto;
  }

  .small-card-detail-overlay-panel .small-card-detail-overlay-content,
  .small-card-detail-wrapper .small-card-list-detail-content-wrapper {
    padding: 0;
  }

  .small-card-detail-wrapper .small-card-list-detail-content-wrapper,
  .small-card-detail-overlay.ready .small-card-detail-wrapper .small-card-list-detail-content-wrapper,
  .small-card-detail-wrapper .small-card-list-detail-image-wrapper + .small-card-list-detail-content-scroll-wrapper .small-card-list-detail-content-wrapper,
  .small-card-detail-overlay.ready .small-card-detail-wrapper .small-card-list-detail-image-wrapper + .small-card-list-detail-content-scroll-wrapper .small-card-list-detail-content-wrapper {
    top: 0;
    padding-top: 0;
  }

  .small-card-detail-overlay.ready .small-card-detail-wrapper .small-card-list-detail-image-wrapper + .small-card-list-detail-content-scroll-wrapper .small-card-list-detail-content-wrapper {
    padding: 40px;
    border-radius: 0;
  }

  .small-card-detail-wrapper .small-card-list-detail-content-scroll-wrapper {
    position: relative;
  }
}

 .has-bookmarks {
  padding-right: 20px !important;
}

.small-card-detail-overlay-wrapper .small-card-detail-overlay-close .fa-times-thin {
  padding-top: 2px;
  padding-bottom: 4px;
  font-size: 0.8em !important;
}

.small-card-detail-overlay-wrapper .small-card-detail-overlay-close .fa-times-thin::before {
  content: '\002573';
}

/* IE11 layout */
@media screen and (-ms-high-contrast: none) {
  .small-card-detail-overlay-wrapper .small-card-detail-overlay-close .fa-times-thin {
    padding-top: 0px;
    padding-bottom: 5px;
  }

  .small-card-detail-overlay-wrapper .small-card-detail-overlay-close .win7.fa-times-thin {
    padding-top: 2px;
    padding-bottom: 1px;
    font-weight: lighter;
    font-size: 1.2em !important;
  }

  .small-card-detail-overlay-wrapper .small-card-detail-overlay-close .win7.fa-times-thin::before {
    content: '\2715';
  }

}

/* Safari layout */
@media not all and (min-resolution:.001dpcm) {
  @media {
    .small-card-detail-overlay-wrapper .small-card-detail-overlay-close .fa-times-thin {
      padding-top: 1px;
      padding-bottom: 0px;
    }
  }
}

/* For native devices */
.native.android .small-card-detail-overlay-wrapper .small-card-detail-overlay-close .fa-times-thin {
  padding-top: 5px;
}

.native.ios .small-card-detail-overlay-wrapper .small-card-detail-overlay-close .fa-times-thin {
  padding-top: 1px;
}

.mode-interact [data-dynamic-lists-id] {
  min-height: 32px;
}

/* For MS Edge */
@supports (-ms-ime-align:auto) {
  .small-card-detail-overlay-wrapper .small-card-detail-overlay-close .fa-times-thin {
    padding-top: 1px;
    padding-bottom: 3px;
  }
}

/* For Firefox */
@-moz-document url-prefix() {
  .small-card-detail-overlay-wrapper .small-card-detail-overlay-close .fa-times-thin {
    padding-top: 2px;
    padding-bottom: 5px;
  }

  .no-windows .small-card-detail-overlay-wrapper .small-card-detail-overlay-close .fa-times-thin {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

/* For Android Chrome browser*/
.android.no-native .small-card-detail-overlay-wrapper .small-card-detail-overlay-close .fa-times-thin {
  padding-top: 2px;
  padding-bottom: 2px;
}
