.mode-interact .new-small-h-card-list-container {
  pointer-events: none;
}

*.lock {
  overflow: hidden;
}

/* List */
.new-small-h-card-list-container .loading-data {
  padding-top: 25px;
  display: block;
  text-align: center;
  color: #333333;
  opacity: 0.5;
}

.new-small-h-card-list-container.ready .loading-data {
  display: none;
}

.new-small-h-card-list-container .small-h-card-list-wrapper {
  width: 100%;
  min-height: 156px;
  margin: 15px 0 40px 0;
  display: none;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.new-small-h-card-list-container.ready .small-h-card-list-wrapper {
  display: flex;
}

.lock .new-small-h-card-list-container .small-h-card-list-wrapper {
  overflow-x: visible;
}

.new-small-h-card-list-container .small-h-card-list-item {
  padding: 0 0 0 15px;
  width: auto;
  cursor: pointer;
}

.new-small-h-card-list-container .small-h-card-list-item:first-child {
  padding: 0;
}

.new-small-h-card-list-container .small-h-card-list-image {
  width: 100px;
  height: 120px;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
  margin: 0 0 10px 0;
  cursor: pointer;
  position: relative;
}

.lock .new-small-h-card-list-container .small-h-card-list-image {
  cursor: pointer;
}

.new-small-h-card-list-container .small-h-card-list-image .small-h-card-list-detail-image,
.new-small-h-card-list-container .small-h-card-list-image .small-h-card-list-detail-wrapper {
  border-radius: 15px;
}

.new-small-h-card-list-container .small-h-card-list-image .small-h-card-list-detail-wrapper.open .small-h-card-list-detail-image,
.new-small-h-card-list-container .small-h-card-list-image .small-h-card-list-detail-wrapper.open {
  border-radius: 0;
}

.new-small-h-card-list-container .small-h-card-list-item-text {
  font-size: 10px;
  text-align: center;
  line-height: 1.3;
  text-transform: uppercase;
}

.no-touchevents .new-small-h-card-list-container .small-h-card-list-item:active .small-h-card-list-image,
.no-touchevents .new-small-h-card-list-container .small-h-card-list-item:focus .small-h-card-list-image,
.no-touchevents .new-small-h-card-list-container .small-h-card-list-item:active:focus .small-h-card-list-image,
.new-small-h-card-list-container .small-h-card-list-item.hover .small-h-card-list-image {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.new-small-h-card-list-container .small-h-card-list-image .small-h-card-list-detail-image {
  border-radius: 15px 0 0 15px;
}

.new-small-h-card-list-container .small-h-card-list-image .small-h-card-list-detail-wrapper.open .small-h-card-list-detail-image {
  border-radius: 0;
}

.new-small-h-card-list-container .small-h-card-list-detail-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(51,51,51,0.1);
  background-color: rgba(51,51,51,0.04);
}

.new-small-h-card-list-container .small-h-card-list-detail-image-wrapper .fa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

.new-small-h-card-list-container .open .small-h-card-list-detail-image-wrapper .fa {
  font-size: 8em;
}

/* DIRECTORY DETAIL VIEW */

.new-small-h-card-list-container .small-h-card-list-detail-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.new-small-h-card-list-container .small-h-card-list-detail-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: center;
  background-size: cover;
}

.new-small-h-card-list-container .small-h-card-list-detail-image.open {
  width: 100vw;
  height: 100vw;
}

.new-small-h-card-list-container .small-h-card-list-detail-close-btn {
  opacity: 0;
  position: absolute;
  right: 15px;
  top: 15px;
  height: 38px;
  width: 38px;
  line-height: 36px;
  font-size: 24px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  color: #333333;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
  z-index: 13;
  pointer-events: none;
}

.new-small-h-card-list-container .small-h-card-list-detail-close-btn.open {
  opacity: 1;
  pointer-events: all;
}

.new-small-h-card-list-container .small-h-card-list-detail-content-scroll-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  z-index: 12;
  overflow: auto;
  transition: all 0.2s ease-out;
}

.new-small-h-card-list-container .small-h-card-list-detail-content-scroll-wrapper.open {
  height: 100%;
}

.new-small-h-card-list-container .small-h-card-list-detail-content-wrapper {
  top: calc(100vw - 20px);
  position: relative;
  background-color: #ffffff;
  border-radius: 20px 20px 0 0;
  width: 100%;
  padding: 40px 15px 20px 15px;
  padding-bottom: calc(20px + env(safe-area-inset-bottom));
}

.new-small-h-card-list-container .small-h-card-list-detail-edit-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  height: 60px;
  width: 60px;
  opacity: 0.3;
}

.new-small-h-card-list-container .small-h-card-list-detail-name {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 1.3;
  color: #333333;
  font-weight: 700;
  word-wrap: break-word;
  position: relative;
}

.new-small-h-card-list-container .small-h-card-list-detail-name:after {
  content: '';
  display: block;
  width: 60%;
  height: 4px;
  background-color: #337ab7;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.new-small-h-card-list-container .small-h-card-list-detail-role {
  margin: 0 0 5px 0;
  font-size: 24px;
  color: #333333;
  opacity: 0.6;
  font-weight: 500;
}

.new-small-h-card-list-container .small-h-card-list-detail-location {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: #333333;
  opacity: 0.4;
  font-weight: 500;
}

.new-small-h-card-list-container .small-h-card-list-detail-buttons-wrapper {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.new-small-h-card-list-container .small-h-card-list-detail-button {
  width: 60px;
  margin: 0 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-small-h-card-list-container .small-h-card-list-detail-button a,
.new-small-h-card-list-container .small-h-card-list-detail-button a:hover,
.new-small-h-card-list-container .small-h-card-list-detail-button a:focus
.new-small-h-card-list-container .small-h-card-list-detail-button a:active,
.new-small-h-card-list-container .small-h-card-list-detail-button a:active:hover,
.new-small-h-card-list-container .small-h-card-list-detail-button a:active:focus {
  color: #333333;
  text-decoration: none;
}

.new-small-h-card-list-container .small-h-card-list-detail-button .send-message {
  cursor: pointer;
}

.new-small-h-card-list-container .small-h-card-list-detail-button-image {
  opacity: 0.3;
  text-align: center;
  font-size: 35px;
}

.new-small-h-card-list-container .small-h-card-list-detail-button-text {
  font-size: 10px;
  text-align: center;
  opacity: 0.5;
}

.new-small-h-card-list-container .small-h-card-list-detail-label {
  font-size: 12px;
  opacity: 0.5;
  text-transform: uppercase;
  margin: 20px 0 0 0;
}

.dynamic-list-controls {
  display: none;
}

.small-h-card-list-detail-wrapper.open .dynamic-list-controls {
  display: block;
}

@media screen and (min-width: 640px) {
  .new-small-h-card-list-container .small-h-card-list-image {
    width: 180px;
    height: 216px;
  }
  
  .new-small-h-card-list-container .small-h-card-list-detail-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .new-small-h-card-list-container .small-h-card-list-detail-wrapper.open {
    padding: 40px 0;
    overflow: auto;
  }

  .new-small-h-card-list-container .open .small-h-card-list-detail-image-wrapper {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
  }

  .new-small-h-card-list-container .small-h-card-list-image .small-h-card-list-detail-wrapper.open .small-h-card-list-detail-image {
    border-radius: 20px 20px 0 0;
  }

  .new-small-h-card-list-container .small-h-card-list-detail-close-btn {
    position: fixed;
  }

  .new-small-h-card-list-container .small-h-card-list-detail-content-scroll-wrapper.open {
    height: auto;
    position: relative;
  }

  .new-small-h-card-list-container .open .small-h-card-list-detail-content-wrapper {
    top: auto;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
  }
}